{"swagger":"2.0","info":{"title":"后端API","description":"API适用于后端  \r\n文档接口参数类型 [string, integer, array, boolean, object, number]  \r\nAPP请求时请带上header头 [sv, av, vv, av] pl平台 mm 手机型号 av app版本 sv 系统版本  uuid 唯一标识  \r\n请求类型Content-type: application/json  \r\n需要权限验证的接口请带上Authorization头, 接口状态返回401时请跳转登录  \r\n","version":"1.0.0"},"basePath":"","host":"api-admin.bag.cc","schemes":["http"],"paths":{"/active/apply/comment":{"put":{"summary":"给优惠活动申请写备注","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"申请id","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"content":{"description":"备注详情","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/active/applys":{"get":{"summary":"优惠申请列表","description":"获取会员参加的活动列表","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"记录ID","format":"int32"},"user_name":{"type":"string","required":false,"description":"用户名","format":"string"},"mobile":{"type":"string","required":false,"description":"手机号码","format":"string"},"email":{"type":"string","required":false,"description":"邮箱","format":"string"},"active_name":{"type":"string","required":false,"description":"活动名称","format":"string"},"content":{"type":"string","required":false,"description":"申请内容","format":"string"}}}}}}}},"/active/bkge":{"delete":{"summary":"返佣活动启用关闭","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"返佣活动列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"56"},"name":{"type":"string","required":false,"description":"活动名称"},"stime":{"type":"string","required":false,"description":"开始时间"},"etime":{"type":"string","required":false,"description":"结束时间"},"games":{"type":"string","required":false,"description":"返佣类目"},"bkge_date":{"type":"string","required":false,"description":"day-每日，week-每周，month-每月"},"bkge_time":{"type":"string","required":false,"description":"返佣具体时间点"},"condition_opt":{"type":"string","required":false,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）"},"data_opt":{"type":"string","required":false,"description":"返佣数据规则（lottery-有效投注，deposit-充值，winloss-盈亏）"},"status":{"type":"string","required":false,"description":"disabled 停用,enabled 启用"},"created":{"type":"string","required":false,"description":"创建时间"},"updated":{"type":"string","required":false,"description":"更新时间"}}}}}}},"patch":{"summary":"返佣活动启用关闭","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"post":{"summary":"返佣活动列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"56"},"name":{"type":"string","required":false,"description":"活动名称"},"stime":{"type":"string","required":false,"description":"开始时间"},"etime":{"type":"string","required":false,"description":"结束时间"},"games":{"type":"string","required":false,"description":"返佣类目"},"bkge_date":{"type":"string","required":false,"description":"day-每日，week-每周，month-每月"},"bkge_time":{"type":"string","required":false,"description":"返佣具体时间点"},"condition_opt":{"type":"string","required":false,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）"},"data_opt":{"type":"string","required":false,"description":"返佣数据规则（lottery-有效投注，deposit-充值，winloss-盈亏）"},"status":{"type":"string","required":false,"description":"disabled 停用,enabled 启用"},"created":{"type":"string","required":false,"description":"创建时间"},"updated":{"type":"string","required":false,"description":"更新时间"}}}}}}},"put":{"summary":"返佣活动列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"56"},"name":{"type":"string","required":false,"description":"活动名称"},"stime":{"type":"string","required":false,"description":"开始时间"},"etime":{"type":"string","required":false,"description":"结束时间"},"games":{"type":"string","required":false,"description":"返佣类目"},"bkge_date":{"type":"string","required":false,"description":"day-每日，week-每周，month-每月"},"bkge_time":{"type":"string","required":false,"description":"返佣具体时间点"},"condition_opt":{"type":"string","required":false,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）"},"data_opt":{"type":"string","required":false,"description":"返佣数据规则（lottery-有效投注，deposit-充值，winloss-盈亏）"},"status":{"type":"string","required":false,"description":"disabled 停用,enabled 启用"},"created":{"type":"string","required":false,"description":"创建时间"},"updated":{"type":"string","required":false,"description":"更新时间"}}}}}}}},"/active/bkge/detail":{"get":{"summary":"返佣活动详情","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"56"},"name":{"type":"string","required":false,"description":"活动名称"},"stime":{"type":"string","required":false,"description":"开始时间"},"etime":{"type":"string","required":false,"description":"结束时间"},"games":{"type":"string","required":false,"description":"返佣类目"},"bkge_date":{"type":"string","required":false,"description":"day-每日，week-每周，month-每月"},"bkge_time":{"type":"string","required":false,"description":"返佣具体时间点"},"condition_opt":{"type":"string","required":false,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）"},"data_opt":{"type":"string","required":false,"description":"返佣数据规则（lottery-有效投注，deposit-充值，winloss-盈亏）"},"status":{"type":"string","required":false,"description":"disabled 停用,enabled 启用"},"created":{"type":"string","required":false,"description":"创建时间"},"updated":{"type":"string","required":false,"description":"更新时间"}}}}}}}},"/active":{"delete":{"summary":"","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"活动列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"title","in":"query","required":false,"description":"活动名称","type":"string","format":"string"},{"name":"template_id","in":"query","required":false,"description":"模板ID","type":"integer","format":"int32"},{"name":"status","in":"query","required":false,"description":"enabled（启用），disabled（停用）","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"56"},"title":{"type":"string","required":false,"description":"每日首充"},"vender_type":{"type":"string","required":false,"description":"3"},"updated":{"type":"string","required":false,"description":"2018-06-11 11:07:27"},"content_type":{"type":"string","required":false,"description":"1"},"content":{"type":"string","required":false},"description":{"type":"string","required":false,"description":"dgfdsfhfshsdhsd"},"cover":{"type":"string","required":false,"description":"https://img1.ahsaiding.com/upload/3cacafec995e0c2f5af32949b18a16e0.png"},"begin_time":{"type":"string","required":false,"description":"2018-05-06 11:06:46"},"end_time":{"type":"string","required":false,"description":"2018-07-12 11:06:50"},"sort":{"type":"string","required":false,"description":"1"},"status":{"type":"string","required":false,"description":"enabled"},"created_user":{"type":"string","required":false,"description":"lebo10"},"updated_user":{"type":"string","required":false,"description":"lebo10"},"created":{"type":"string","required":false,"description":"2018-06-11 11:07:27"},"rule":{"type":"string","required":false},"template_id":{"type":"string","required":false,"description":"3"},"withdraw_require_val":{"type":"string","required":false},"issue_mode":{"type":"string","required":false},"send_type":{"type":"string","required":false},"send_max":{"type":"string","required":false},"bind_info":{"type":"string","required":false}}}}}}},"patch":{"summary":"","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"post":{"summary":"","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/active/exituser":{"get":{"summary":"","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/active/newBkge/detail":{"get":{"summary":"返佣活动详情","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"56"},"name":{"type":"string","required":false,"description":"活动名称"},"stime":{"type":"string","required":false,"description":"开始时间"},"etime":{"type":"string","required":false,"description":"结束时间"},"games":{"type":"string","required":false,"description":"返佣类目"},"bkge_date":{"type":"string","required":false,"description":"day-每日，week-每周，month-每月"},"bkge_time":{"type":"string","required":false,"description":"返佣具体时间点"},"condition_opt":{"type":"string","required":false,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）"},"data_opt":{"type":"string","required":false,"description":"返佣数据规则（lottery-有效投注，deposit-充值，winloss-盈亏）"},"status":{"type":"string","required":false,"description":"disabled 停用,enabled 启用"},"created":{"type":"string","required":false,"description":"创建时间"},"updated":{"type":"string","required":false,"description":"更新时间"}}}}}}}},"/active/newBkge":{"get":{"summary":"新代理返佣活动列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"56"},"name":{"type":"string","required":false,"description":"活动名称"},"stime":{"type":"string","required":false,"description":"开始时间"},"etime":{"type":"string","required":false,"description":"结束时间"},"games":{"type":"string","required":false,"description":"返佣类目"},"bkge_date":{"type":"string","required":false,"description":"day-每日，week-每周，month-每月"},"bkge_time":{"type":"string","required":false,"description":"返佣具体时间点"},"condition_opt":{"type":"string","required":false,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）"},"data_opt":{"type":"string","required":false,"description":"返佣数据规则（lottery-有效投注，deposit-充值，winloss-盈亏）"},"status":{"type":"string","required":false,"description":"disabled 停用,enabled 启用"},"created":{"type":"string","required":false,"description":"创建时间"},"updated":{"type":"string","required":false,"description":"更新时间"}}}}}}},"post":{"summary":"新增返佣活动","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"name":{"description":"活动名称","type":"string"},"status":{"description":"disabled 停用,enabled 启用","type":"string"},"condition_opt":{"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）","type":"string"},"deposit_withdraw_fee_ratio":{"description":"充值提款手续费比例","type":"string"},"winloss_fee_ratio":{"description":"网站输赢费用比例","type":"string"},"valid_user_num":{"description":"最低有效用户数","type":"string"},"valid_user_deposit":{"description":"有效用户充值","type":"string"},"valid_user_bet":{"description":"有效用户下注","type":"string"},"desc":{"description":"说明","type":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"编辑返佣活动","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"活动id","type":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"name":{"type":"string","required":false,"description":"活动名称"},"status":{"type":"string","required":false,"description":"disabled 停用,enabled 启用"},"condition_opt":{"type":"string","required":false,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）"},"deposit_withdraw_fee_ratio":{"type":"string","required":false,"description":"充值提款手续费比例"},"winloss_fee_ratio":{"type":"string","required":false,"description":"网站输赢费用比例"},"valid_user_num":{"type":"string","required":false,"description":"最低有效用户数"},"valid_user_deposit":{"type":"string","required":false,"description":"有效用户充值"},"valid_user_bet":{"type":"string","required":false,"description":"有效用户下注"},"rule":{"type":"array","items":{"type":"object","properties":{"min_winloss":{"type":"string","required":false,"description":"最小输赢"},"max_winloss":{"type":"string","required":false,"description":"最大输赢"},"bkge_scale":{"type":"string","required":false,"description":"退佣比例"}}}},"desc":{"type":"string","required":false,"description":"说明"}}}}}}},"/active/newBkge/list":{"get":{"summary":"新代理返佣列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"page","in":"query","required":false,"description":"int()","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"int()","type":"integer","format":"int32"},{"name":"date","in":"query","required":false,"description":"日期 202203","type":"string","format":"date"},{"name":"agent_name","in":"query","required":false,"description":"代理名称","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"agent_name":{"type":"string","required":true,"description":"代理名称","format":"string"},"date":{"type":"string","required":true,"description":"日期","format":"string"},"bkge_time":{"type":"string","required":true,"description":"返佣时间","format":"string"},"bkge":{"type":"number","required":true,"description":"返佣金额","format":"float"},"winloss":{"type":"number","required":true,"description":"盈亏金额","format":"float"},"valid_user_num":{"type":"integer","required":true,"description":"有效用户数","format":"int32"},"bkge_ratio":{"type":"number","required":true,"description":"返佣比例","format":"float"},"deposit_amount":{"type":"number","required":true,"description":"充值金额","format":"float"},"withdraw_amount":{"type":"number","required":true,"description":"取款金额","format":"float"},"deposit_withdraw_fee_ratio":{"type":"number","required":true,"description":"充提费用","format":"float"},"bet_amount":{"type":"number","required":true,"description":"投注金额","format":"float"},"winloss_fee_ratio":{"type":"number","required":true,"description":"盈亏费用","format":"float"},"active_amount":{"type":"number","required":true,"description":"活动金额","format":"float"}},"required":["agent_name","date","bkge_time","bkge","winloss","valid_user_num","bkge_ratio","deposit_amount","withdraw_amount","deposit_withdraw_fee_ratio","bet_amount","winloss_fee_ratio","active_amount"]}}}}}},"/active/template":{"get":{"summary":"活动模板列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"模板id"},"name":{"type":"string","required":false,"description":"模板名称"}}}}}}}},"/active/type":{"get":{"summary":"活动类型列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"活动类型id"},"name":{"type":"string","required":false,"description":"类型名称"},"description":{"type":"string","required":false,"description":"描述"},"sort":{"type":"string","required":false,"description":"排序"}}}}}}},"put":{"summary":"编辑活动类型","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"id":{"description":"活动类型id","type":"string"},"name":{"description":"活动类型名称","type":"string"},"status":{"description":"活动类型状态","type":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/active/water":{"get":{"summary":"返水活动游戏列表","description":"","tags":["active"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"游戏id"},"name":{"type":"string","required":false,"description":"游戏名称"},"rename":{"type":"string","required":false,"description":"rename"},"sort":{"type":"string","required":false,"description":"排序"}}}}}}}},"/admin/account/edit":{"delete":{"summary":"刪除管理員","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"patch":{"summary":"修改管理員","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"新增管理员","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/account":{"get":{"summary":"管理员列表","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin":{"get":{"summary":"依据权限获取菜单栏目","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/log":{"get":{"summary":"获取后台操作日志列表","description":"返回后台操作日志列表","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"uname":{"description":"操作者","type":"string","format":"string"},"uname2":{"description":"被操作者","type":"string","format":"string"},"module":{"description":"操作模块 0:彩票 1:注单 2:现金 3:用户 4:系统 5:APP 6:游戏 7:网站 8:活动","type":"string","format":"enum"},"status":{"description":"状态 0:失败 1:成功","type":"string","format":"enum"},"page":{"description":"当前页","type":"integer","format":"int32"},"page_size":{"description":"每页显示多少条","type":"integer","format":"int32"},"date_from":{"description":"查询起始日期","type":"string"},"date_to":{"description":"查询失败日期","type":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"ip":{"type":"string","required":false,"description":"操作者ip地址","format":"string"},"uid":{"type":"integer","required":false,"description":"操作者id","format":"int32"},"uname":{"type":"string","required":false,"description":"操作者账号","format":"string"},"uid2":{"type":"integer","required":false,"description":"被操作者id","format":"int32"},"uname2":{"type":"string","required":false,"description":"被操作者账号","format":"string"},"module":{"type":"integer","required":false,"description":"模块","format":"int32"},"module_child":{"type":"string","required":false,"description":"子模块","format":"string"},"fun_name":{"type":"string","required":false,"description":"功能名称","format":"string"},"type":{"type":"string","required":false,"description":"操作类型","format":"string"},"status":{"type":"string","required":false,"description":"状态 0:失败 1:成功","format":"enum"},"remark":{"type":"string","required":false,"description":"详细信息","format":"string"}}}}}}},"/admin/log/module":{"get":{"summary":"获取后台操作日志模块列表","description":"返回后台操作日志模块列表","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/login/googleSwitch":{"get":{"summary":"登录界面查询谷歌验证器开关","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/login/imagecode":{"get":{"summary":"获取图形验证码","description":"后台登录获取验证码","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/login":{"post":{"summary":"登录接口","description":"文档编写中","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/logout":{"get":{"summary":"用户登出","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/pw":{"patch":{"summary":"修改登录密码","description":"注意：非提款密码。清除后前端删除此用户的cache，退出到登入界面","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"user_name":{"description":"登录用户名","type":"string","format":"string"},"old-pw":{"description":"旧密码","type":"string","format":"string"},"new-pw":{"description":"新密码","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/role/edit":{"delete":{"summary":"新增修改角色","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"编辑角色","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"post":{"summary":"新增修改角色","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"新增修改角色","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/role":{"get":{"summary":"角色列表","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/sisLogin":{"delete":{"summary":"以token获取权限","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"name":{"description":"需要退出的用户名称","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"以token获取权限","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"token":{"description":"name+jurisdiction base64位编码再md5加密","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"post":{"summary":"登录接口","description":"文档编写中","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"username":{"description":"用户名称","type":"string","format":"string"},"role":{"description":"权限值","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/admin/sisLogin/role":{"get":{"summary":"角色列表","description":"","tags":["admin"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/api/Game/RechargeById":{"post":{"summary":"交易流水(记录)/资金流水--类别与类型","description":"","tags":["api"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"order_number","in":"query","required":false,"description":"订单ID","type":"string","format":"string"},{"name":"money","in":"query","required":false,"description":"金额：分","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"State":{"type":"integer","required":false,"description":"操作1：处理成功，2：已补单，3：失败需要继续添加，4：失败无需继续","format":"int32"},"msg":{"type":"string","required":false,"description":"错误信息，统一 SUCCESS为成功","format":"string"}}}}}}}},"/bag/active":{"get":{"summary":"代理包统计列表","description":"获取代理包统计信息","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"channel_id","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"app":{"type":"string","required":false,"description":"string APP名称"},"channel":{"type":"string","required":false,"description":"string 渠道"},"channel_id":{"type":"string","required":false,"description":"渠道ID","format":"string"},"count":{"type":"string","required":false,"description":"激活数量"}}}}}}}},"/bag/android":{"get":{"summary":"获取IOS包信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"channel_id","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"name","in":"query","required":false,"description":"string(require, 50)","type":"string","format":"string","default":"50"},{"name":"status","in":"query","required":false,"description":"审核不通过0，通过1","type":"integer","format":"int32"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"修改/新增APP Android包相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"channel_id":{"description":"string(, 30)","type":"string","format":"string","default":"30"},"name":{"description":"string(require, 50)","type":"string","format":"string","default":"50"},"status":{"description":"审核不通过0，通过1","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/areablack":{"delete":{"summary":"删除 包地区黑名单","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"包地区黑名单","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"channel","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"area","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","required":false,"description":"string","format":"string"},"area":{"type":"string","required":false,"description":"string","format":"string"}}}}}}},"post":{"summary":"修改/新增APP Android包相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"channel":{"description":"string(require, 30)","type":"string","format":"string","default":"30"},"area":{"description":"string(require)","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/base":{"get":{"summary":"获取相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"post":{"summary":"获取相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/channel":{"get":{"summary":"包IP黑名单","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","required":false,"description":"string","format":"string"}}}}}}}},"/bag":{"delete":{"summary":"删除 包相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"获取包信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"修改/新增APP 包相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"name":{"description":"string(require, 50)","type":"string","format":"string","default":"50"},"url":{"description":"string(require, 200)","type":"string","format":"string","default":"200"},"type":{"description":"1：IOS马甲包，2：IOS企业包，3：Android上架包","type":"integer","format":"int32"},"status":{"description":"审核不通过0，通过1","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/enterprise":{"get":{"summary":"获取IOS包信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"修改APP IOS企业包相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"url":{"description":"string(require, 150)","type":"string","format":"string","default":"150"},"upgrade":{"description":"是否强制升级  0 ：不升级， 1：升级","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/ios":{"get":{"summary":"获取IOS包信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"bound_id","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"name","in":"query","required":false,"description":"string(require, 50)","type":"string","format":"string","default":"50"},{"name":"ver","in":"query","required":false,"description":"string(require,10)","type":"string","format":"string","default":"10"},{"name":"status","in":"query","required":false,"description":"审核不通过0，通过1","type":"integer","format":"int32"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"修改/新增APP IOS包相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"bound_id":{"description":"string(, 30)","type":"string","format":"string","default":"30"},"name":{"description":"string(require, 50)","type":"string","format":"string","default":"50"},"ver":{"description":"string(require, 150)","type":"string","format":"string","default":"150"},"status":{"description":"审核不通过0，通过1","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/ipblack":{"delete":{"summary":"删除 包IP黑名单","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"包IP黑名单","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"channel","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"channel":{"type":"string","required":false,"description":"string","format":"string"},"count":{"type":"string","required":false,"description":"string","format":"string"}}}}}}},"post":{"summary":"修改/新增APP Android包相关信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"channel":{"description":"string(require, 30)","type":"string","format":"string","default":"30"},"ip":{"description":"string(require)","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/ipblack/info":{"get":{"summary":"包IP黑名单","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"channel_id","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"ip","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"channel_id":{"type":"string","required":false,"description":"string","format":"string"},"count":{"type":"string","required":false,"description":"string","format":"string"}}}}}}}},"/bag/kiloblack":{"delete":{"summary":"删除经纬度屏幕","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"经纬度黑名单","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"channel","in":"query","required":false,"description":"string(, 30)","type":"string","format":"string","default":"30"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"format":"int32"},"channel":{"type":"string","required":false,"description":"string(, 30)","format":"string"},"longitude":{"type":"integer","required":false,"description":"经度","format":"int32"},"latitude":{"type":"integer","required":false,"description":"纬度","format":"int32"},"kilometre":{"type":"integer","required":false,"description":"屏蔽范围","format":"int32"},"status":{"type":"string","required":false,"description":"状态","format":"enum"},"page":{"type":"integer","required":false,"description":"页码","format":"int32"},"page_size":{"type":"integer","required":false,"description":"每页大小","format":"int32"}}}}}}},"post":{"summary":"新增屏蔽经纬度信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"channel":{"description":"渠道","type":"string","format":"string","default":"30"},"longitude":{"description":"经度","type":"integer","format":"int32"},"latitude":{"description":"纬度","type":"integer","format":"int32"},"kilometre":{"description":"屏蔽范围","type":"integer","format":"int32"},"status":{"description":"enabled 开启，disabled关闭","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"修改屏蔽经纬度信息","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"channel":{"description":"渠道","type":"string","format":"string","default":"30"},"longitude":{"description":"经度","type":"integer","format":"int32"},"latitude":{"description":"纬度","type":"integer","format":"int32"},"kilometre":{"description":"屏蔽范围","type":"integer","format":"int32"},"status":{"description":"enabled 开启，disabled关闭","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bag/type":{"get":{"summary":"包类型","description":"","tags":["bag"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/bank/list":{"get":{"summary":"获取所有可用银行列表","description":"","tags":["bank"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/banks":{"delete":{"summary":"","description":"","tags":["banks"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"银行列表接口","description":"获取银行信息列表","tags":["banks"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"},{"name":"name","in":"query","required":false,"description":"银行名称","type":"string","format":"string"},{"name":"code","in":"query","required":false,"description":"银行代码 ICBC","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","required":false,"description":"enum[rows, row, dataset]","format":"enum"},"size":{"type":"string","required":false,"description":"unsigned"},"total":{"type":"string","required":false,"description":"unsigned"},"data":{"type":"string","required":false,"description":"id:ID; code:银行英文简称; name:银行名称; shortname:银行简称; logo:logo; updated:更新时间; \r\n                updated_uname:更新人; created_uname:创建人; created:创建时间; state:集合信息, enabled:启用，online:线上支付;"}}}}}}},"patch":{"summary":"","description":"","tags":["banks"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"post":{"summary":"","description":"","tags":["banks"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"","description":"","tags":["banks"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/3th":{"get":{"summary":"第三方支付详情","description":"获取第三方支付详情信息","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","required":false,"description":"enum[rowset, row, dataset]","format":"enum"},"data":{"type":"string","required":false,"description":"rows[id:int,app_id:string,channel_name:string,name:string,pay_scene:string,levels:string,\r\n                deposit_times:int, money_used:int, money_stop:int,money_day_stop:int,money_day_used:int,url_notify:string,url_return:string,\r\n                created_uname:string,sort:int,status:bool]"}}}}}}},"patch":{"summary":"更改第三方支付","description":"目前只支持更改状态","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"第三方支付id","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"status":{"description":"状态, 1:启用， 0:停用","type":"string","format":"enum","default":"1"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"(厅主)添加第三方支付","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"修改厅主设置的第三方支付（通过uri传参）","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"levels":{"description":"会员等级，多个level id通过逗号分隔","type":"string","format":"string"},"comment":{"description":"备注","type":"string","format":"string"},"url_notify":{"description":"累计停用金额","type":"string","format":"string"},"url_return":{"description":"累计停用金额","type":"string","format":"string"},"money_stop":{"description":"累计停用金额","type":"integer","format":"int32"},"money_day_stop":{"description":"日停用金额","type":"integer","format":"int32"},"sort":{"description":"排序","type":"integer","format":"int32"},"status":{"description":"是否开启，1 是，0 否","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/3ths":{"get":{"summary":"第三方支付列表接口","description":"获取第三方支付列表","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"page","in":"query","required":true,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":true,"description":"每页大小","type":"integer","format":"int32"},{"name":"pay_channel","in":"query","required":false,"description":"渠道名称","type":"string","format":"string"},{"name":"pay_scence","in":"query","required":false,"description":"支付类型","type":"integer","format":"int32"},{"name":"status","in":"query","required":false,"description":"状态，1 启用，0 停用","type":"string","format":"enum","enum":["0","1"]},{"name":"sort","in":"query","required":false,"description":"排序","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","required":false,"description":"enum[rowset, row, dataset]","format":"enum"},"size":{"type":"string","required":false,"description":"unsigned"},"total":{"type":"string","required":false,"description":"unsigned"},"data":{"type":"string","required":false,"description":"rows[id:int,app_id:string,channel_name:string,name:string,pay_scene:string,levels:string,type:string\r\n                deposit_times:int, money_used:int, money_stop:int,money_day_stop:int,money_day_used:int,url_notify:string,url_return:string,\r\n                created_uname:string,sort:int,status:set[enabled,default]]"}}}}}}}},"/cash/3ths/pay":{"get":{"summary":"第三方支付列表","description":"获取第三方支付商户与类型","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","required":false,"description":"enum[default,enabled,disabled]","format":"enum"}}}}}}}},"/cash/account":{"delete":{"summary":"删除厅主设置的银行账户","description":"删除厅主设置的银行账户","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"get":{"summary":"银行帐号列表接口","description":"获取银行帐户信息列表","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"name","in":"query","required":false,"description":"收款户名","type":"string","format":"string"},{"name":"bank_id","in":"query","required":false,"description":"开户银行id","type":"integer","format":"int32"},{"name":"level","in":"query","required":false,"description":"用户层级","type":"integer","format":"int32"},{"name":"status","in":"query","required":false,"description":"状态，enabled 启用，disabled 禁用","type":"string","format":"enum","enum":["enabled","disabled"]},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"帐户ID"},"bank_name":{"type":"string","required":false,"description":"银行/支付名称"},"address":{"type":"string","required":false,"description":"开启行"},"accountname":{"type":"string","required":false,"description":"户名","format":"string"},"card":{"type":"string","required":false,"description":"帐号"},"usage":{"type":"string","required":false,"description":"使用层级"},"limit_once_min":{"type":"string","required":false,"description":"单笔最低"},"limit_once_max":{"type":"string","required":false,"description":"单笔最高"},"today":{"type":"string","required":false,"description":"今日累计"},"limit_day_max":{"type":"string","required":false,"description":"每日最大存款"},"total":{"type":"string","required":false,"description":"累计存款"},"limit_max":{"type":"string","required":false,"description":"总存款限制"},"qrcode":{"type":"string","required":false,"description":"二维码"},"created":{"type":"string","required":false,"description":"创建时间"},"created_uname":{"type":"string","required":false,"description":"创建人"},"sort":{"type":"string","required":false,"description":"排序"},"state":{"type":"string","required":false,"description":"集合信息,online:线上, default:默认, enabled:启用"},"levels":{"type":"string","required":false,"description":"层级"}}}}}}},"patch":{"summary":"修改(厅主)收款银行帐号","description":"修改银行帐户(目前只支持状态修改)","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":true,"description":"银行账户id","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"status":{"description":"状态，启用 1，停用 0","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"帐户ID","format":"int32"},"status":{"type":"string","required":false,"description":"状态[enabled,disabled]","format":"enum"}}}}}}},"post":{"summary":"新增收款银行帐号","description":"修改银行帐户","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"usage":{"description":"使用层级","type":"string","format":"string"},"name":{"description":"账户名","type":"string","format":"string"},"card":{"description":"帐号","type":"string","format":"string"},"qrcode":{"description":"二维码，如果没有二维码传空(null)","type":"string","format":"string"},"limit_day_max":{"description":"每日最大存款","type":"integer","format":"int32"},"limit_max":{"description":"总存款限额","type":"integer","format":"int32"},"sort":{"description":"排序","type":"integer","format":"int32"},"is_enabled":{"description":"启用 1，停用 0","type":"integer","format":"int32"},"comment":{"description":"存款说明","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","required":false,"description":"enum[rowset,map, row, dataset]","format":"enum"},"data":{"type":"string","required":false,"description":"usage:使用层级; bank_id:银行/支付ID; address:开户行; name:户名; card:帐号; qrcode:二维码; limit_day_max:每日最大存款; \n                limit_max:总存款限制; limit_once_min:单笔最低; limit_once_max:单笔最高; sort:排序; state:集合(online:线上, default:默认, enabled:启用); \n                comment:备注"}}}}}}},"put":{"summary":"修改收款银行帐号","description":"修改银行帐户","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"修改银行账户时传递id","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"usage":{"description":"使用层级","type":"string","format":"string"},"name":{"description":"账户名","type":"string","format":"string"},"card":{"description":"帐号","type":"string","format":"string"},"qrcode":{"description":"二维码，如果没有二维码传空(null)","type":"string","format":"string"},"limit_day_max":{"description":"每日最大存款","type":"integer","format":"int32"},"limit_max":{"description":"总存款限额","type":"integer","format":"int32"},"sort":{"description":"排序","type":"integer","format":"int32"},"is_enabled":{"description":"启用 1，停用 0","type":"integer","format":"int32"},"comment":{"description":"存款说明","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","required":false,"description":"enum[rowset,map, row, dataset]","format":"enum"},"data":{"type":"string","required":false,"description":"usage:使用层级; bank_id:银行/支付ID; address:开户行; name:户名; card:帐号; qrcode:二维码; limit_day_max:每日最大存款; \n                limit_max:总存款限制; limit_once_min:单笔最低; limit_once_max:单笔最高; sort:排序; state:集合(online:线上, default:默认, enabled:启用); \n                comment:备注"}}}}}}}},"/cash/channel/deposit":{"get":{"summary":"资金流水记录","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/channel":{"get":{"summary":"获取支付渠道描述列表","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"int(, 30)","type":"integer","format":"int32","default":"30"},{"name":"type_id","in":"query","required":false,"description":"int(, 30)","type":"integer","format":"int32","default":"30"},{"name":"title","in":"query","required":false,"description":"string(require, 50)","type":"string","format":"string","default":"50"},{"name":"desc","in":"query","required":false,"description":"string(require, 50)","type":"string","format":"string","default":"50"},{"name":"status","in":"query","required":false,"description":"停用，启用1","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"put":{"summary":"修改 支付渠道描述","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"id":{"description":"int(require)","type":"integer","format":"int32"},"title":{"description":"string","type":"string","format":"string"},"desc":{"description":"string","type":"string","format":"string"},"status":{"description":"停用0，启用1","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/channel/statistics":{"get":{"summary":"渠道统计","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"int(, 30)","type":"integer","format":"int32","default":"30"},{"name":"type_id","in":"query","required":false,"description":"int(, 30)","type":"integer","format":"int32","default":"30"},{"name":"title","in":"query","required":false,"description":"string(require, 50)","type":"string","format":"string","default":"50"},{"name":"desc","in":"query","required":false,"description":"string(require, 50)","type":"string","format":"string","default":"50"},{"name":"status","in":"query","required":false,"description":"停用，启用1","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/deposit/offline":{"get":{"summary":"线下入款详情","description":"线下入款详情","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"页码","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","required":false,"description":"enum[rowset, row, dataset]","format":"enum"},"size":{"type":"string","required":false,"description":"unsigned"},"total":{"type":"string","required":false,"description":"unsigned"},"data":{"type":"string","required":false,"description":"rows[id:int,trade_no:string,ranting:int,agent_name:string,user_name:string,deposit_type:int,pay_type:string\r\n                name:string,money:int,pay_bank_info:string,receive_bank_info:string, coupon_money:int,recharge_time:string,\r\n                status:set[paid,pending,cancel,deposit], ip:string,memo:string,state:set[show,new,auto,online],update_uname:string,update:string]"}}}}}}},"patch":{"summary":"线下入款处理，通过或拒绝","description":"如果拒绝，不能发放优惠","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"id","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"state":{"description":"paid 通过，failed 拒绝","type":"string","format":"string"},"coupon":{"description":"是否发放优惠，1 是，0 否","type":"integer","format":"int32"},"comment":{"description":"备注","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/deposit/offlines":{"get":{"summary":"线下入款列表","description":"获取线下入款列表","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"},{"name":"user_name","in":"query","required":false,"description":"用户名称","type":"string","format":"string"},{"name":"pay_no","in":"query","required":false,"description":"交易号","type":"string","format":"string"},{"name":"ranting","in":"query","required":false,"description":"用户等级，查询多个层级，逗号(,)分隔","type":"string","format":"string"},{"name":"status","in":"query","required":false,"description":"交易状态， all 全部，paid(已存款), pending(未处理), canceled(已取消)","type":"string","format":"enum","enum":["all","paid","pending","canceled"]},{"name":"bank_id","in":"query","required":false,"description":"银行ID","type":"integer","format":"int32"},{"name":"date_from","in":"query","required":false,"description":"开始时间","type":"string","format":"date"},{"name":"date_to","in":"query","required":false,"description":"结束时间","type":"string","format":"date"},{"name":"money_from","in":"query","required":false,"description":"存款金额","type":"integer","format":"int32"},{"name":"money_to","in":"query","required":false,"description":"存款金额","type":"integer","format":"int32"},{"name":"admin_user","in":"query","required":false,"description":"操作者","type":"string","format":"string"},{"name":"deposit_type","in":"query","required":false,"description":"存款方式，1,银行柜台  2,ATM现金入款  3,ATM自动柜员机 4,手机转账  5,支付宝转账 6,财付通 7,微信支付 9:网银转账","type":"string"},{"name":"pay_type","in":"query","required":false,"description":"支付类型，1,银行转账  2,支付宝  3,微信 4,QQ  5,京东","type":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","required":false,"description":"enum[rowset, row, dataset]","format":"enum"},"size":{"type":"string","required":false,"description":"unsigned"},"total":{"type":"string","required":false,"description":"unsigned"},"data":{"type":"string","required":false,"description":"rows[id:int,trade_no:string,ranting:int,agent_name:string,user_name:string,deposit_type:int,pay_type:string\r\n                name:string,money:int,pay_bank_info:string,receive_bank_info:string, coupon_money:int,recharge_time:string,\r\n                status:set[paid,pending,cancel,deposit], ip:string,memo:string,state:set[show,new,auto,online],update_uname:string,update:string]"}}}}}}}},"/cash/deposit/online":{"get":{"summary":"线上入款详情","description":"获取线上入款详情","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"trade_no ":{"type":"string","required":false,"description":"订单号","format":"string"},"name":{"type":"string","required":false,"description":"用户名","format":"string"},"ranting":{"type":"string","required":false,"description":"用户等级","format":"string"},"true_name":{"type":"string","required":false,"description":"存款人","format":"string"},"created":{"type":"string","required":false,"description":"注册时间"},"agent_name":{"type":"string","required":false,"description":"上级代理人","format":"string"},"total_deposit_times":{"type":"integer","required":false,"description":"存款次数","format":"int32"},"total_deposit_money":{"type":"integer","required":false,"description":"存款金额","format":"int32"},"money":{"type":"integer","required":false,"description":"存入金额","format":"int32"},"receive_bank_info":{"type":"string","required":false,"description":"支付信息","format":"string"},"pay_no":{"type":"string","required":false,"description":"交易号","format":"string"},"ip":{"type":"string","required":false,"description":"ip","format":"string"},"recharge_time":{"type":"string","required":false,"description":"交易时间"},"coupon_money":{"type":"integer","required":false,"description":"优惠金额","format":"int32"},"withdraw_bet":{"type":"integer","required":false,"description":"取款要求","format":"int32"},"coupon_name":{"type":"integer","required":false,"description":"优惠名称","format":"int32"},"memo":{"type":"string","required":false,"description":"备注","format":"string"},"status":{"type":"string","required":false,"description":"状态 [paid, pending, failed]","format":"enum"},"state":{"type":"string","required":false,"description":"集合[show, new, auto, online]","format":"enum"}}}}}}},"patch":{"summary":"线上存款补单","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"order_no","in":"query","required":true,"description":"单号","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/deposit/onlines/export":{"get":{"summary":"线上入款导出","description":"导出线上充值列表","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"user_name","in":"query","required":false,"description":"用户名称","type":"string","format":"string"},{"name":"trade_no","in":"query","required":false,"description":"订单号","type":"string","format":"string"},{"name":"ranting","in":"query","required":false,"description":"用户等级，查询多个，逗号(,)分隔","type":"string","format":"string"},{"name":"pay_scene","in":"query","required":false,"description":"支付类型/场景[wx,alipay,unionpay,qq,tz,jd]","type":"string","format":"enum","enum":["wx","alipay","unionpay","qq","tz","jd"]},{"name":"status","in":"query","required":false,"description":"交易状态,支付状态(paid(已支付), pending(待支付),failed(支付失败))","type":"string","format":"enum","enum":["paid","pending","failed"]},{"name":"date_from","in":"query","required":false,"description":"开始时间","type":"string","format":"date"},{"name":"date_to","in":"query","required":false,"description":"结束时间","type":"string","format":"date"},{"name":"money_from","in":"query","required":false,"description":"存款金额，起始","type":"integer","format":"int32"},{"name":"money_to","in":"query","required":false,"description":"存款金额，结束","type":"integer","format":"int32"},{"name":"name","in":"query","required":false,"description":"商户名称","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"trade_no":{"type":"string","required":false,"description":"订单号","format":"string"},"ranting":{"type":"integer","required":false,"description":"int","format":"int32"},"agent_name":{"type":"string","required":false,"description":"string","format":"string"},"user_name":{"type":"string","required":false,"description":"string","format":"string"},"app_id":{"type":"integer","required":false,"description":"商户编号","format":"int32"},"vender_name":{"type":"string","required":false,"description":"商户名称","format":"string"},"channel_id":{"type":"integer","required":false,"description":"渠道id","format":"int32"},"pay_no":{"type":"string","required":false,"description":"外部交易号","format":"string"},"money":{"type":"integer","required":false,"description":"int","format":"int32"},"coupon_money":{"type":"integer","required":false,"description":"int","format":"int32"},"recharge_time":{"type":"string","required":false,"description":"交易时间","format":"string"},"status":{"type":"string","required":false,"description":"[pending,failed,paid]","format":"enum"},"ip":{"type":"string","required":false,"description":"存款ip","format":"string"},"memo":{"type":"string","required":false,"description":"备注","format":"string"},"state":{"type":"string","required":false,"description":"[show,new,auto,online]","format":"enum"}}}}}}}},"/cash/deposit/onlines":{"get":{"summary":"线上入款列表","description":"获取线上充值列表","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"user_name","in":"query","required":false,"description":"用户名称","type":"string","format":"string"},{"name":"trade_no","in":"query","required":false,"description":"订单号","type":"string","format":"string"},{"name":"ranting","in":"query","required":false,"description":"用户等级，查询多个，逗号(,)分隔","type":"string","format":"string"},{"name":"pay_scene","in":"query","required":false,"description":"支付类型/场景[wx,alipay,unionpay,qq,tz,jd]","type":"string","format":"enum","enum":["wx","alipay","unionpay","qq","tz","jd"]},{"name":"status","in":"query","required":false,"description":"交易状态,支付状态(paid(已支付), pending(待支付),failed(支付失败))","type":"string","format":"enum","enum":["paid","pending","failed"]},{"name":"date_from","in":"query","required":false,"description":"开始时间","type":"string","format":"date"},{"name":"date_to","in":"query","required":false,"description":"结束时间","type":"string","format":"date"},{"name":"money_from","in":"query","required":false,"description":"存款金额，起始","type":"integer","format":"int32"},{"name":"money_to","in":"query","required":false,"description":"存款金额，结束","type":"integer","format":"int32"},{"name":"name","in":"query","required":false,"description":"商户名称","type":"string","format":"string"},{"name":"page","in":"query","required":true,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":true,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"int","format":"int32"},"trade_no":{"type":"string","required":false,"description":"订单号","format":"string"},"ranting":{"type":"integer","required":false,"description":"int","format":"int32"},"agent_name":{"type":"string","required":false,"description":"string","format":"string"},"user_name":{"type":"string","required":false,"description":"string","format":"string"},"app_id":{"type":"integer","required":false,"description":"商户编号","format":"int32"},"vender_name":{"type":"string","required":false,"description":"商户名称","format":"string"},"channel_id":{"type":"integer","required":false,"description":"渠道id","format":"int32"},"pay_no":{"type":"string","required":false,"description":"外部交易号","format":"string"},"money":{"type":"integer","required":false,"description":"int","format":"int32"},"coupon_money":{"type":"integer","required":false,"description":"int","format":"int32"},"recharge_time":{"type":"string","required":false,"description":"交易时间","format":"string"},"status":{"type":"string","required":false,"description":"[pending,failed,paid]","format":"enum"},"ip":{"type":"string","required":false,"description":"存款ip","format":"string"},"memo":{"type":"string","required":false,"description":"备注","format":"string"},"state":{"type":"string","required":false,"description":"[show,new,auto,online]","format":"enum"}}}}}}}},"/cash/deposit/paytype":{"get":{"summary":"支付类型","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type","in":"query","required":false,"description":"1线下2线上","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id ":{"type":"integer","required":false,"description":"支付类型ID","format":"int32"},"name":{"type":"string","required":false,"description":"名称","format":"string"}}}}}}}},"/cash/deposit/status":{"get":{"summary":"第三方支付的存款详情","description":"第三方支付的存款详情","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":true,"description":"第三方支付ID","type":"integer","format":"int32"},{"name":"date_from","in":"query","required":false,"description":"起始日期","type":"string","format":"string"},{"name":"date_to","in":"query","required":false,"description":"结束日期","type":"string","format":"string"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"pay_no ":{"type":"string","required":false,"description":"订单号","format":"string"},"money":{"type":"string","required":false,"description":"存款金额","format":"string"},"recharge_time":{"type":"string","required":false,"description":"交易时间","format":"string"},"user_name":{"type":"string","required":false,"description":"用户名称","format":"string"},"level_name":{"type":"string","required":false,"description":"用户等级","format":"string"},"memo":{"type":"string","required":false,"description":"备注","format":"string"}}}}}}}},"/cash/ipcheck":{"get":{"summary":"","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/decrease":{"post":{"summary":"手动减少余额","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"uid":{"description":"用户id","type":"integer","format":"int32"},"role":{"description":"用户类型 1 会员，2 代理","type":"integer","format":"int32"},"wid":{"description":"主钱包id","type":"integer","format":"int32"},"amount":{"description":"变动金额","type":"integer","format":"int32"},"memo":{"description":"备注","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/deposit":{"post":{"summary":"手动存款","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"amount","in":"query","required":false,"description":"int","type":"integer","format":"int32"},{"name":"bank_no","in":"query","required":false,"description":"string","type":"string","format":"string"},{"name":"discount","in":"query","required":false,"description":"int","type":"integer","format":"int32"},{"name":"memo","in":"query","required":false,"description":"string","type":"string","format":"string"},{"name":"play_code","in":"query","required":false,"description":"int","type":"integer","format":"int32"},{"name":"role","in":"query","required":false,"description":"int","type":"integer","format":"int32"},{"name":"uid","in":"query","required":false,"description":"int","type":"integer","format":"int32"},{"name":"wid","in":"query","required":false,"description":"int","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"uid":{"description":"用户id","type":"integer","format":"int32"},"wid":{"description":"钱包id","type":"integer","format":"int32"},"role":{"description":"角色，1 会员，2 代理","type":"integer","format":"int32"},"amount":{"description":"存款金额","type":"integer","format":"int32"},"bank_no":{"description":"银行账号","type":"string","format":"string"},"memo":{"description":"备注","type":"string","format":"string"},"play_code":{"description":"打码量","type":"integer","format":"int32"},"discount":{"description":"优惠金额","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/freemoney":{"put":{"summary":"手动增加\\减少可提余额","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"id":{"description":"用户id","type":"integer","format":"int32"},"type":{"description":"increase 增加，decrease 减少","type":"string","format":"string"},"amount":{"description":"变动金额","type":"integer","format":"int32"},"memo":{"description":"备注","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual":{"get":{"summary":"人工存提首页列表","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"role","in":"query","required":true,"description":"1 用户，2 代理","type":"string","format":"enum","enum":["1","2"]},{"name":"username","in":"query","required":true,"description":"用户或代理的名称","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/increase":{"post":{"summary":"手动增加余额","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"uid":{"description":"用户id","type":"integer","format":"int32"},"role":{"description":"角色，1 用户，2 代理","type":"integer","format":"int32"},"wid":{"description":"主钱包id","type":"integer","format":"int32"},"amount":{"description":"变动金额","type":"integer","format":"int32"},"withdraw_bet":{"description":"提款需要达到的最低消费流水","type":"integer","format":"int32"},"memo":{"description":"备注","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/ps":{"post":{"summary":"手动主钱包、子钱包互转","description":"手动子转主钱包/手动主转子钱包","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"wid":{"description":"int(required) 主钱包id","type":"integer","format":"int32"},"sid":{"description":"int(required) 子钱包id","type":"integer","format":"int32"},"amount":{"description":"变动金额","type":"integer","format":"int32"},"uid":{"description":"发生资金转换的用户user id","type":"integer","format":"int32"},"type":{"description":"变动方向，1 主钱包转子钱包，2 子钱包转主钱包","type":"string","format":"enum"},"status":{"description":"状态，1 发生实际变动，2 只补单（只增加记录）","type":"string","format":"enum"},"memo":{"description":"备注","type":"string","format":"string"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/record/type":{"get":{"summary":"手动存提--交易类型 列表","description":"以静态文件的形式存在","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/records":{"get":{"summary":"手动存提记录","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"page","in":"query","required":false,"description":"第几页","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页多少条","type":"integer","format":"int32"},{"name":"username","in":"query","required":false,"description":"用户名","type":"string","format":"string"},{"name":"time_begin","in":"query","required":false,"description":"开始时间","type":"string"},{"name":"time_end","in":"query","required":false,"description":"结束时间","type":"string"},{"name":"type","in":"query","required":false,"description":"交易类型，从另一接口获取","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/manual/withdrawal":{"post":{"summary":"手动提款","description":"","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"uid":{"description":"用户id","type":"integer","format":"int32"},"wid":{"description":"钱包id","type":"integer","format":"int32"},"role":{"description":"会员 1，代理2","type":"string","format":"enum","default":"1"},"amount":{"description":"存款金额","type":"integer","format":"int32"},"bank_id":{"description":"用户申请出款银行id","type":"integer","format":"int32"},"bank_no":{"description":"银行账号","type":"string","format":"string"},"memo":{"description":"备注","type":"string","format":"string"},"status":{"description":"状态，1 代为申请","type":"integer","format":"int32"}}}}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/cash/newwithdraw":{"get":{"summary":"新会员出款列表（提现审核，提现付款合并）","description":"获取会员出款列表","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"page","in":"query","required":false,"description":"页码","type":"integer","format":"int32"},{"name":"page_size","in":"query","required":false,"description":"每页大小","type":"integer","format":"int32"},{"name":"member_name","in":"query","required":false,"description":"用户名","type":"string","format":"string"},{"name":"trade_no","in":"query","required":false,"description":"订单号","type":"string","format":"string"},{"name":"register_from","in":"query","required":false,"description":"申请时间","type":"string","format":"date"},{"name":"register_to","in":"query","required":false,"description":"申请时间","type":"string","format":"date"},{"name":"status","in":"query","required":false,"description":"支付状态，rejected:已拒绝, pending:待处理，paid:已支付","type":"string","format":"enum","enum":["rejected","pending"]}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"76"},"user_name":{"type":"string","required":false,"description":"用户名"},"trade_no":{"type":"string","required":false,"description":"转账订单号"},"money":{"type":"string","required":false,"description":"申请金额"},"receive_bank_info":{"type":"object","properties":{"bank":{"type":"string","required":false,"description":"中国农业银行"},"name":{"type":"string","required":false,"description":"的撒大和"},"card":{"type":"string","required":false,"description":"123123132131231"},"address":{"type":"string","required":false,"description":"撒打算"},"bank_code":{"type":"string","required":false,"description":"银行简称KBAK"}}},"created":{"type":"string","required":false,"description":"申请时间"},"is_new":{"type":"string","required":false,"description":"no:否，yes:是"},"status":{"type":"string","required":false,"description":"rejected:已拒绝, pending:待处理，paid:已支付"},"admin_user":{"type":"string","required":false,"description":"操作者"}}}}}}},"patch":{"summary":"新修改会员出款状态","description":"修改会员出款信息","tags":["cash"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":true,"description":"提款申请id","type":"integer","format":"int32"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"status":{"description":"
[...]
