{"swagger":"2.0","info":{"title":"前端API","description":"API适用于移动端和PC端  \r\n文档接口参数类型 [string, integer, array, boolean, object, number]  \r\nAPP请求时请带上header头 [sv, av, vv, av] pl平台 mm 手机型号 av app版本 sv 系统版本  uuid 唯一标识  \r\n请求类型Content-type: application/json  \r\n需要权限验证的接口请带上Authorization头, 接口状态返回401时请跳转登录  \r\n","version":"1.0.0"},"host":"api-www.bag.cc","basePath":"","schemes":["http"],"paths":{"/block/condition/capital":{"get":{"summary":"交易记录列表类型","description":"交易记录列表类型","tags":["交易记录"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type","in":"query","required":true,"description":"类型 默认为1交易类型 2交易类型分类","type":"integer","format":"int32","default":"2"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"ID","format":"int32"},"name":{"type":"string","required":false,"description":"标题","format":"string"},"children":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"ID","format":"int32"},"name":{"type":"string","required":false,"description":"标题","format":"string"}}}}}}}}}}},"/block/condition/captcha/image":{"get":{"summary":"获取图型验证码","description":"获取图型验证码","tags":["公共分类"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"token":{"type":"string","required":true,"description":"(提交验证码的时候,token也要传过去)","format":"string"},"images":{"type":"string","required":true,"description":"图片的base64编码","format":"string"}},"required":["token","images"]}}}}},"/block/home/app/banner":{"get":{"summary":"首页-轮播图","description":"","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type","in":"query","required":false,"description":"广告类型(1：pc，2：h5) 默认为PC","type":"integer","format":"int32","default":"1"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"pic":{"type":"string","required":false,"description":"图片地址","format":"string"},"language":{"type":"string","required":false,"description":"语言","format":"string"},"link":{"type":"string","required":false,"description":"活动跳转链接","format":"string"},"link_type":{"type":"string","required":false,"description":"是否关联活动 1不关联 2关联","format":"enum"},"active_id":{"type":"string","required":false,"description":"当关联活动时为活动链接 默认为空","format":"string"},"language_id":{"type":"integer","required":false,"description":"int() 当前语言ID","format":"int32"},"language_name":{"type":"string","required":false,"description":"string() 当前语言名称","format":"string"}}}}}}}},"/block/home/app/spread":{"get":{"summary":"获取推广引图片","description":"","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","required":false,"description":"标题"},"sort":{"type":"string","required":false,"description":"排序"},"picture":{"type":"string","required":false,"description":"图片地址"}}}}}}}},"/block/nowtime":{"get":{"summary":"当前服务器时间","description":"当前服务器时间","tags":["公共分类"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"time":{"type":"string","required":false,"description":"当前时间 2022-02-24 18：47：21"},"strtime":{"type":"string","required":false,"description":"当前时间截","format":"string"},"utc":{"type":"string","required":false,"description":"当前时区","format":"string"}}}}}}},"/game/common/filter":{"get":{"summary":"游戏过滤条件","description":"查询投注记录 Exam: /game/common/order","tags":["游戏注单"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type_name","in":"query","required":false,"description":"游戏类型 如：JOKER","type":"string","format":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","required":false,"description":"筛选标题"},"category":{"type":"string","required":false,"description":"筛选id"},"list":{"type":"object","properties":{"key":{"type":"string","required":false,"description":"筛选子id"},"name":{"type":"string","required":false,"description":"筛选名(只是显示)"}}}}}}}}}},"/game/common/order":{"get":{"summary":"注单记录列表","description":"查询投注记录列表 \r\n 返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数'] \r\n Exam: /game/common/order?type_name=KAIYUAN&category=kind_id&key=620","tags":["游戏注单"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type_name","in":"query","required":true,"description":"游戏类型 KAIYUAN","type":"string","format":"string"},{"name":"category","in":"query","required":true,"description":"类型 kind_id","type":"string","format":"string"},{"name":"key","in":"query","required":true,"description":"座位号 620","type":"integer","format":"int32"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认20条记录","type":"integer","format":"int32","default":"20"},{"name":"start_time","in":"query","required":false,"description":"开始日期","type":"string","format":"date"},{"name":"end_time","in":"query","required":false,"description":"结束日期","type":"string","format":"date"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"id","format":"int32"},"order_number":{"type":"string","required":true,"description":"订单号","format":"string"},"game_name":{"type":"string","required":true,"description":"游戏名","format":"string"},"sub_game_name":{"type":"string","required":true,"description":"子标题/根据业务不同展示给前端","format":"string"},"pay_money":{"type":"integer","required":true,"description":"下注金额(真实金额 不用除100)","format":"int32"},"state":{"type":"integer","required":true,"description":"中奖/待开奖/未中奖","format":"int32"},"mode":{"type":"string","required":true,"description":"彩票(房间/标准/快捷)/第三方","format":"string"}},"required":["id","order_number","game_name","sub_game_name","pay_money","state","mode"]}}}}}},"/game/common/order/info":{"get":{"summary":"注单记录详情","description":"查询投注记录详情 Exam: /game/common/order/info","tags":["游戏注单"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type_name","in":"query","required":true,"description":"游戏分类 JOKER","type":"string","format":"string"},{"name":"order_number","in":"query","required":true,"description":"订单号 12324234234","type":"string","format":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"logo":{"type":"string","required":true,"description":"游戏图标","format":"string"},"game_name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"sub_game_name":{"type":"string","required":true,"description":"子标题","format":"string"},"pay_money":{"type":"string","required":true,"description":"下注金额(真实金额)","format":"string"},"send_money":{"type":"string","required":true,"description":"派彩金额","format":"string"},"detail":{"type":"object","properties":{"key":{"type":"string","required":true,"description":"前端显示名","format":"string"},"value":{"type":"string","required":true,"description":"前端显示值","format":"string"}},"required":["key","value"]},"chase_list":{"type":"object"}},"required":["logo","game_name","sub_game_name","pay_money","send_money"]}}}}},"/game/common/type":{"get":{"summary":"投注记录类型","description":"查询投注记录类型 Exam: /game/common/type","tags":["游戏注单"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"菜单id","format":"int32"},"pid":{"type":"integer","required":false,"description":"父菜单id -> 0 一级菜单","format":"int32"},"type":{"type":"string","required":false,"description":"模式简称","format":"string"},"name":{"type":"string","required":false,"description":"菜单名称","format":"string"}}}}}}}},"/game/lottery/info":{"get":{"summary":"GET 获取指定彩票info","description":"获取指定彩票info","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":true,"description":"彩票id","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"彩票id","format":"int32"},"pid":{"type":"integer","required":true,"description":"彩票父id","format":"int32"},"name":{"type":"string","required":true,"description":"彩票名称","format":"string"},"today_count":{"type":"integer","required":true,"description":"今天总期数","format":"int32"},"now_count":{"type":"integer","required":true,"description":"今天还剩期数","format":"int32"},"standard_type_auth":{"type":"string","required":false,"description":"基础玩法","format":"string"},"fast_type_auth":{"type":"string","required":false,"description":"快速玩法","format":"string"},"on_sell":{"type":"integer","required":false,"description":"是否开售(1:开售,0:禁售)","format":"int32"},"state":{"type":"string","required":false,"description":"集合(standard:启用标准, fast:启用快速, auto:自动派奖, enabled:有效)"},"bet_money":{"type":"integer","required":false,"description":"标准投注设定金额默认100分","format":"int32"},"curperiod":{"type":"object","properties":{"now":{"type":"string","required":true,"description":"当前时间"},"start_time":{"type":"string","required":true,"description":"开始时间"},"end_time":{"type":"string","required":true,"description":"结束时间"},"lottery_number":{"type":"integer","required":true,"description":"期号","format":"int32"}},"required":["now","start_time","end_time","lottery_number"]},"history_results":{"type":"array","items":{"type":"object","properties":{"lottery_number":{"type":"integer","required":true,"description":"期号","format":"int32"},"end_time":{"type":"string","required":true,"description":"彩票结束时间"},"period_result":{"type":"string","required":false,"description":"开奖结果","format":"string"},"period_code":{"type":"string","required":false,"description":"开奖号码","format":"string"},"period_code_part":{"type":"string","required":false,"description":"开奖号码前千万位","format":"string"},"state":{"type":"string","required":false,"description":"集合(send: 已派奖, stop:停售, open:已开奖, valid:有效)"}},"required":["lottery_number","end_time"]}},"limit":{"type":"object","properties":{"min_bet":{"type":"integer","required":true,"description":"最低限额 单位分","format":"int32"},"one_bet":{"type":"integer","required":true,"description":"单注最高 单位分","format":"int32"},"per_max":{"type":"integer","required":true,"description":"总注最高 单位分","format":"int32"}},"required":["min_bet","one_bet","per_max"]},"struct_ver":{"type":"integer","required":true,"description":"结构版本号","format":"int32"},"current_time":{"type":"string","required":true,"description":"当前时间 2022-01-27 10:29:30","format":"date"}},"required":["id","pid","name","today_count","now_count","struct_ver","current_time"]}}}}},"/game/lottery/InsertNumber":{"get":{"summary":"获取指定彩票猜奖号列表","description":"获取指定彩票猜奖号列表 \\r\\n 返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数']","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"lottery_id","in":"query","required":true,"description":"彩票id","type":"integer","format":"int32"},{"name":"lottery_number","in":"query","required":true,"description":"彩票期号","type":"string","format":"string"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认20条记录","type":"integer","format":"int32","default":"20"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"user_account":{"type":"string","required":true,"description":"用户名","format":"string"},"number":{"type":"string","required":true,"description":"猜奖号","format":"string"},"time":{"type":"string","required":true,"description":"输入时间 11/16/2021 16:05:17"}},"required":["user_account","number","time"]}}}}},"post":{"summary":"输入彩票猜奖号","description":"输入彩票猜奖号","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"lottery_id","in":"query","required":true,"description":"彩票id","type":"integer","format":"int32"},{"name":"lottery_number","in":"query","required":true,"description":"彩票期号","type":"string","format":"string"},{"name":"number","in":"query","required":true,"description":"猜奖号","type":"string","format":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/game/lottery/list":{"get":{"summary":"GET 彩票列表","description":"","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"bet_type","in":"query","required":false,"description":"(fast=快速 ,standard=标准)不传值就是全部","type":"string","format":"enum","default":"standard"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"id","format":"int32"},"pid":{"type":"integer","required":false,"description":"父级id(pid为0就是一级)","format":"int32"},"name":{"type":"string","required":false,"description":"彩票名称","format":"string"},"open_type":{"type":"integer","required":false,"description":"打开方式(0:本地打开, 1:第三方打开)","format":"int32"},"pc_open_type":{"type":"integer","required":false,"description":"pc打开方式(1:弹窗，2:新窗口，3:本页面跳转)","format":"int32"},"state":{"type":"string","required":false,"description":"状态(standard:启用标准, fast:启用快速, auto:自动派奖, enabled:有效)","format":"enum"}}}}}}}},"/game/lottery/message":{"get":{"summary":"中奖信息展示","description":"","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"lottery_id","in":"query","required":false,"description":"彩种ID","type":"string"},{"name":"lottery_number","in":"query","required":false,"description":"期号（非必传）","type":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"信息ID"},"user_name":{"type":"string","required":false,"description":"用户名"},"play_group":{"type":"string","required":false,"description":"玩法组"},"money":{"type":"string","required":false,"description":"中奖金额"}}}}}}}},"/game/lottery/nextperiods":{"get":{"summary":"GET 追号 获取期号","description":"追号 获取期号","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":true,"description":"彩票id","type":"integer","format":"int32"},{"name":"size","in":"query","required":true,"description":"返回多少期","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"lottery_number":{"type":"string","required":true,"description":"彩票期号","format":"string"},"end_time":{"type":"integer","required":true,"description":"彩票结束时间","format":"int32"}},"required":["lottery_number","end_time"]}}}}}},"/game/lottery/order":{"get":{"summary":"注单查询--彩票标准/快速","description":"map #\n            \"id\": \"45\",\n            \"created\": \"2018-02-06 15:41:10\",\n            \"order_number\": \"2018020603411045879\",\n            \"lottery_number\": \"871175\",\n            \"odds\": {\n                \"单\": \"2.00\",\n                \"双\": \"2.00\",\n                \"大\": \"2.00\",\n                \"小\": \"2.00\",\n                \"大单\": \"4.33\",\n                \"大双\": \"3.72\",\n                \"小单\": \"3.72\",\n                \"小双\": \"4.33\",\n                \"极大\": \"17.86\",\n                \"极小\": \"17.86\"\n            },\n            \"lottery_name\": \"北京幸运28\",\n            \"play_group\": \"大小单双\",\n            \"play_name\": \"大小单双\",\n            \"pay_money\": \"1000\",\n            \"bet_num\": \"10\",\n            \"play_number\": \"大|小|单|双|小单|小双|大单|大双|极小|极大\",\n            \"send_money\": null,\n            \"state\": \"\",\n        ","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"lottery_id","in":"query","required":false,"description":"彩种id，见彩种列表","type":"integer","format":"int32"},{"name":"state","in":"query","required":false,"description":"状态，","type":"string","format":"string"},{"name":"lottery_number","in":"query","required":false,"description":"期号，","type":"string","format":"string"},{"name":"start_time","in":"query","required":false,"description":"查询时间，开始","type":"string"},{"name":"end_time","in":"query","required":false,"description":"查询时间，结束","type":"string"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认30条记录","type":"integer","format":"int32","default":"30"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}},"post":{"summary":"POST 会员注单","description":"会员注单","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"lottery_id":{"description":"彩票id [快速玩法提交订单格式]","type":"integer","format":"int32"},"room_id":{"description":"房间ID","type":"integer","format":"int32"},"origin":{"description":"来源1pc 2h5 3APP","type":"integer","format":"int32"},"lottery_number":{"description":"彩票期号","type":"string","format":"string"},"pid":{"description":"彩票父级id","type":"integer","format":"int32"}}}},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"1"},"uuid":{"type":"string","required":false,"description":"149032155258d480902d0a3"},"name":{"type":"string","required":false,"description":"sam的钱包"},"balance":{"type":"string","required":false,"description":"56516"},"balance_before":{"type":"string","required":false,"description":"56536"},"freeze_withdraw":{"type":"string","required":false},"freeze_append":{"type":"string","required":false},"currency":{"type":"string","required":false,"description":"CNY"},"updated":{"type":"string","required":false,"description":"2017-04-10 15:45:03"},"comment":{"type":"string","required":false,"description":"sam的主钱包"},"children":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","required":false,"description":"2"},"uuid":{"type":"string","required":false,"description":"149032183258d481a87184a"},"name":{"type":"string","required":false,"description":"BBIN子钱包"},"game_type":{"type":"string","required":false,"description":"BBIN"},"balance":{"type":"string","required":false},"last_updated":{"type":"string","required":false,"description":"2017-03-24 10:28:10"}}}}}}}}}}},"/game/lottery/play/betlist":{"post":{"summary":"投注列表信息","description":"获取详细的投注列表序列化信息","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object"}}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","required":false,"description":"万位"},"value":{"type":"array","items":{"type":"object"}}}}}}}}}},"/game/lottery/simple":{"get":{"summary":"GET 彩票列表","description":"","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"bet_type","in":"query","required":false,"description":"(fast=快速 ,standard=标准)不传值就是全部","type":"string","format":"enum","default":"standard"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"id","format":"int32"},"pid":{"type":"integer","required":false,"description":"父级id(pid为0就是一级)","format":"int32"},"name":{"type":"string","required":false,"description":"彩票名称","format":"string"},"open_type":{"type":"integer","required":false,"description":"打开方式(0:本地打开, 1:第三方打开)","format":"int32"},"pc_open_type":{"type":"integer","required":false,"description":"pc打开方式(1:弹窗，2:新窗口，3:本页面跳转)","format":"int32"},"state":{"type":"string","required":false,"description":"状态(standard:启用标准, fast:启用快速, auto:自动派奖, enabled:有效)","format":"enum"}}}}}}}},"/game/lottery/struct":{"get":{"summary":"GET 获取玩法结构","description":"获取玩法结构","tags":["彩票"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"lottery_id","in":"query","required":true,"description":"彩票id","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"standard":{"type":"array","items":{"type":"object","properties":{"nm":{"type":"string","required":false,"description":"玩法名称 前三，前二","format":"string"},"child":{"type":"array","items":{"type":"object","properties":{"nm":{"type":"string","required":false,"description":"玩法名称 三中一","format":"string"},"plid":{"type":"integer","required":false,"description":"玩法ID","format":"int32"},"plid_type":{"type":"integer","required":false,"description":"玩法类型","format":"int32"},"pltx1":{"type":"string","required":false,"description":"玩法提示","format":"string"},"pltx2":{"type":"string","required":false,"description":"玩法中奖提示","format":"string"},"vn":{"type":"string","required":false,"description":"计算注数方法名称 默认valid","format":"string"},"args":{"type":"string","required":false,"description":"valid参数"},"tags":{"type":"string","required":false,"description":"标签"},"sv":{"type":"string","required":false,"description":"标签选号显示数据(前端显示用)"},"vv":{"type":"string","required":false,"description":"标签选号提交数据与sv对应(提交订单用)"},"tp":{"type":"string","required":false,"description":"标签选号提示与sv对应"},"odds":{"type":"string","required":false,"description":"赔率 [3.69]"},"max_win":{"type":"integer","required":false,"description":"最大可赢次数 1","format":"int32"},"buy_ball_num":{"type":"integer","required":false,"description":"最大购买球数 0不限制","format":"int32"}}}}}}}}}}}}}},"/game/third/app":{"get":{"summary":"登录第三方游戏","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"play_id","in":"query","required":true,"description":"游戏菜单ID","type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"status":{"type":"integer","required":true,"description":"状态 0开启","format":"int32"},"url":{"type":"string","required":true,"description":"游戏跳转链接","format":"string"},"isBrowser":{"type":"boolean","required":false,"description":"默认浏览器，因为android可能不支持的游戏"}},"required":["status","url"]}}}}},"/game/third/balance":{"get":{"summary":"回收第三方金额","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"game_type","in":"query","required":false,"description":"游戏类型 JOKER","type":"string","format":"string"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"freeMoney":{"type":"number","required":true,"description":"可下分金额 10.01","format":"float"},"balance":{"type":"number","required":true,"description":"总金额 100.10","format":"float"}},"required":["freeMoney","balance"]}}}}},"/game/third/cg":{"post":{"summary":"CG用户授权回调","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"version","in":"query","required":true,"description":"1.0，此为固定值","type":"string","format":"string"},{"name":"channelId","in":"query","required":true,"description":"此为前面启动游戏 URL 中所带入的 channelId","type":"string","format":"string"},{"name":"data","in":"query","required":true,"description":"加密后的结果","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/game/third/jackpot":{"get":{"summary":"获取头奖","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"status":{"type":"integer","required":true,"description":"状态 0开启","format":"int32"}},"required":["status"]}}}}},"/game/third/list":{"get":{"summary":"获取第三方钱包金额列表","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"refresh","in":"query","required":false,"description":"是否手动刷新 1是 0否","type":"string","format":"enum","enum":["1","0"]},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"sum_balance":{"type":"number","required":true,"description":"总金额 1000","format":"float"},"available_balance":{"type":"number","required":true,"description":"可用金额 800","format":"float"},"freeze_money":{"type":"number","required":true,"description":"冻结金额 200","format":"float"},"take_balance":{"type":"number","required":true,"description":"可提余额 100","format":"float"},"today_profit":{"type":"number","required":true,"description":"今天收益 10.01","format":"float"},"child":{"type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","required":false,"description":"uuid 游戏唯一标识","format":"string"},"game_type":{"type":"string","required":false,"description":"游戏类型 KAIYUAN","format":"string"},"name":{"type":"string","required":false,"description":"游戏名称","format":"string"},"freeMoney":{"type":"number","required":true,"description":"可下分金额 10.01","format":"float"},"balance":{"type":"number","required":true,"description":"总金额 100.10","format":"float"}},"required":["freeMoney","balance"]}}},"required":["sum_balance","available_balance","freeze_money","take_balance","today_profit"]}}}}},"/game/third/pg/verifysession":{"post":{"summary":"PG游戏玩家验证回调","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"trace_id","in":"query","required":true,"description":"请求的唯一标识符（GUID）URL 参数","type":"string","format":"string"},{"name":"operator_token","in":"query","required":true,"description":"运营商独有的身份识别","type":"string","format":"string"},{"name":"secret_key","in":"query","required":true,"description":"PGSoft 与运营商之间共享密码","type":"string","format":"string"},{"name":"operator_player_session","in":"query","required":true,"description":"运营商系统生成的令牌","type":"string","format":"string"},{"name":"ip","in":"query","required":false,"description":"玩家 IP 地址","type":"string","format":"string"},{"name":"custom_parameter","in":"query","required":false,"description":"URL scheme18中的operator_param 值","type":"string","format":"string"},{"name":"game_id","in":"query","required":false,"description":"游戏的独有代码","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/game/third/png":{"post":{"summary":"PNG游戏玩家记录推送","description":"PNG游戏回调","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/game/third/quit":{"get":{"summary":"退出第三方游戏","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"play_id","in":"query","required":true,"description":"游戏菜单ID","type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"quit":{"type":"boolean","required":true,"description":"是否退出成功 true是 false否"},"rollOut":{"type":"object","properties":{"status":{"type":"boolean","required":true,"description":"是否退出成功 true是 false否"},"thirdBalance":{"type":"number","required":true,"description":"第三金额 5.67","format":"float"},"sum_balance":{"type":"number","required":true,"description":"总金额 1000","format":"float"},"available_balance":{"type":"number","required":true,"description":"可用金额 800","format":"float"}},"required":["status","thirdBalance","sum_balance","available_balance"]}},"required":["quit"]}}}}},"/game/third/refresh":{"get":{"summary":"回收第三方所有钱包金额（一键回收）","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"sum_balance":{"type":"number","required":true,"description":"总金额 1000","format":"float"},"available_balance":{"type":"number","required":true,"description":"可用金额 800","format":"float"},"freeze_money":{"type":"number","required":true,"description":"冻结金额 200","format":"float"},"take_balance":{"type":"number","required":true,"description":"可提余额 100","format":"float"},"today_profit":{"type":"number","required":true,"description":"今天收益 10.01","format":"float"},"child":{"type":"array","items":{"type":"object","properties":{"uuid":{"type":"string","required":false,"description":"uuid 游戏唯一标识","format":"string"},"game_type":{"type":"string","required":false,"description":"游戏类型 KAIYUAN","format":"string"},"name":{"type":"string","required":false,"description":"游戏名称","format":"string"},"freeMoney":{"type":"number","required":true,"description":"可下分金额 10.01","format":"float"},"balance":{"type":"number","required":true,"description":"总金额 100.10","format":"float"}},"required":["freeMoney","balance"]}}},"required":["sum_balance","available_balance","freeze_money","take_balance","today_profit"]}}}}},"/game/third/sgmk":{"post":{"summary":"SGMK用户授权回调","description":"","tags":["游戏"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"acctId","in":"query","required":true,"description":"游戏玩家 ID","type":"string","format":"string"},{"name":"token","in":"query","required":true,"description":"token","type":"string","format":"string"},{"name":"language","in":"query","required":false,"description":"语言","type":"string","format":"string"},{"name":"merchantCode","in":"query","required":true,"description":"标识商户 ID","type":"string","format":"string"},{"name":"serialNo","in":"query","required":true,"description":"用于标识消息的序列，由调用者生成","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/home/game/hot":{"get":{"summary":"热门游戏 最新游戏 大奖游戏 免费旋转 热门捕鱼 (竖版)","description":"从电子游戏里取12个 每日一换(竖版)","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"hot":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}},"new":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}},"big_prize":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}},"free":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}},"fish":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}}}}}}}},"/home/game/todayTop":{"get":{"summary":"今日热门 特别游戏 受欢迎游戏 最新游戏(竖版)","description":"从电子游戏里取10个 每日一换(竖版)","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"today_top":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}},"feature":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}},"popular":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}},"new":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"},"favorite":{"type":"integer","required":false,"description":"int(required) 1：已收藏，0:未收藏","format":"int32"}},"required":["id","url","quit_url"]}}}}}}}},"/home/list":{"get":{"summary":"游戏列表及搜索游戏","description":"二级分类下的游戏或者模糊搜索游戏名称 menu表进同步ID菜单列表(传game_id才有)，hot热门游戏 list 游戏列表","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"game_id","in":"query","required":false,"description":"游戏分类ID号 与名称二选一","type":"integer","format":"int32"},{"name":"game_name","in":"query","required":false,"description":"游戏名称 模糊搜索","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"menu":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"type":{"type":"string","required":true,"description":"游戏类型 HOST","format":"string"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"}},"required":["id","type","name"]}},"hot":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 108","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 5","format":"int32"},"favorite":{"type":"integer","required":true,"description":"收藏 1是 0 否","format":"int32"},"is_hot":{"type":"integer","required":true,"description":"热门 1是 0 否","format":"int32"},"name":{"type":"string","required":true,"description":"游戏名称 幸运快3","format":"string"},"alias":{"type":"string","required":true,"description":"游戏别名 KS","format":"string"},"img":{"type":"string","required":true,"description":"游戏图片","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"}},"required":["id","pid","favorite","is_hot","name","alias","img","url","quit_url"]}},"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 108","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 5","format":"int32"},"favorite":{"type":"integer","required":true,"description":"收藏 1是 0 否","format":"int32"},"is_hot":{"type":"integer","required":true,"description":"热门 1是 0 否","format":"int32"},"name":{"type":"string","required":true,"description":"游戏名称 幸运快3","format":"string"},"alias":{"type":"string","required":true,"description":"游戏别名 KS","format":"string"},"img":{"type":"string","required":true,"description":"游戏图片","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"}},"required":["id","pid","favorite","is_hot","name","alias","img","url","quit_url"]}}}}}}}},"/home/menu":{"get":{"summary":"首页菜单及游戏列表（横屏版）","description":"首页菜单及游戏列表（横屏版）","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 0","format":"int32"},"type":{"type":"string","required":true,"description":"游戏类型 HOST","format":"string"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"quit":{"type":"integer","required":false,"description":"是否可踢下线，1可以，2否","format":"int32"},"list_mode":{"type":"integer","required":false,"description":"模式1--game_3th表，2--跳转第三方大厅list，8--自营","format":"int32"},"sort":{"type":"integer","required":false,"description":"横版排序 1，2，3","format":"int32"},"switch":{"type":"string","required":false,"description":"超管总开关 enabled,disabled","format":"string"},"m_start_time":{"type":"string","required":false,"description":"维护开始时间 2018-12-30 21:04:05.000000","format":"string"},"m_end_time":{"type":"string","required":false,"description":"维护结束时间 2019-01-21 23:04:07.000000","format":"string"},"childrens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 0","format":"int32"},"type":{"type":"string","required":true,"description":"游戏类型 HOST","format":"string"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"quit":{"type":"integer","required":false,"description":"是否可踢下线，1可以，2否","format":"int32"},"list_mode":{"type":"integer","required":false,"description":"模式1--game_3th表，2--跳转第三方大厅list，8--自营","format":"int32"},"sort":{"type":"integer","required":false,"description":"横版排序 1，2，3","format":"int32"},"switch":{"type":"string","required":false,"description":"超管总开关 enabled,disabled","format":"string"},"m_start_time":{"type":"string","required":false,"description":"维护开始时间 2018-12-30 21:04:05.000000","format":"string"},"m_end_time":{"type":"string","required":false,"description":"维护结束时间 2019-01-21 23:04:07.000000","format":"string"},"childrens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 0","format":"int32"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"alias":{"type":"string","required":false,"description":"游戏别名 HOST","format":"string"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"sort":{"type":"integer","required":true,"description":"横版排序 1，2，3","format":"int32"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"}},"required":["id","pid","name","sort","url","quit_url"]}}},"required":["id","pid","type","name"]}}},"required":["id","pid","type","name"]}}}}}},"/home/menu/vertical":{"get":{"summary":"首页菜单及游戏列表（新竖屏版）","description":"参数ID 二级游戏id 不传获取一二级分类 传ID获取第三级游戏列表","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":false,"description":"二级游戏id 空获取一二级分类 传ID获取第三级游戏列表","type":"integer","format":"int32"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 0","format":"int32"},"type":{"type":"string","required":true,"description":"游戏类型 HOST","format":"string"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"quit":{"type":"integer","required":false,"description":"是否可踢下线，1可以，2否","format":"int32"},"list_mode":{"type":"integer","required":false,"description":"模式1--game_3th表，2--跳转第三方大厅list，8--自营","format":"int32"},"sort":{"type":"integer","required":false,"description":"横版排序 1，2，3","format":"int32"},"switch":{"type":"string","required":false,"description":"超管总开关 enabled,disabled","format":"string"},"m_start_time":{"type":"string","required":false,"description":"维护开始时间 2018-12-30 21:04:05.000000","format":"string"},"m_end_time":{"type":"string","required":false,"description":"维护结束时间 2019-01-21 23:04:07.000000","format":"string"},"childrens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 0","format":"int32"},"type":{"type":"string","required":true,"description":"游戏类型 HOST","format":"string"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"quit":{"type":"integer","required":false,"description":"是否可踢下线，1可以，2否","format":"int32"},"list_mode":{"type":"integer","required":false,"description":"模式1--game_3th表，2--跳转第三方大厅list，8--自营","format":"int32"},"sort":{"type":"integer","required":false,"description":"横版排序 1，2，3","format":"int32"},"switch":{"type":"string","required":false,"description":"超管总开关 enabled,disabled","format":"string"},"m_start_time":{"type":"string","required":false,"description":"维护开始时间 2018-12-30 21:04:05.000000","format":"string"},"m_end_time":{"type":"string","required":false,"description":"维护结束时间 2019-01-21 23:04:07.000000","format":"string"},"childrens":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级ID 0","format":"int32"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"alias":{"type":"string","required":false,"description":"游戏别名 HOST","format":"string"},"img":{"type":"string","required":false,"description":"游戏图片地址","format":"string"},"sort":{"type":"integer","required":true,"description":"横版排序 1，2，3","format":"int32"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"}},"required":["id","pid","name","sort","url","quit_url"]}}},"required":["id","pid","type","name"]}}},"required":["id","pid","type","name"]}}}}}},"/home/menuby":{"get":{"summary":"一级分类下所有游戏列表","description":"一级分类下所有游戏列表","tags":["首页"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type","in":"query","required":false,"description":"游戏类型 game_menu表type GAME,LIVE,SPORT,QP,BY 默认为BY","type":"string","format":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID 16","format":"int32"},"game_id":{"type":"integer","required":true,"description":"game_menu外键ID 156","format":"int32"},"game_name":{"type":"string","required":true,"description":"游戏名称 炸金花","format":"string"},"game_alias":{"type":"string","required":true,"description":"游戏别名 Fraud Jinhua","format":"string"},"extension_img":{"type":"string","required":false,"description":"单独的捕鱼游戏界面的图标 其他没有","format":"string"},"sort":{"type":"integer","required":false,"description":"竖版排序 1，2，3","format":"int32"},"switch":{"type":"string","required":false,"description":"超管总开关 enabled,disabled","format":"string"},"url":{"type":"string","required":true,"description":"固定跳转进入第三方/game/third/app?play_id=551","format":"string"},"quit_url":{"type":"string","required":true,"description":"固定跳转退出第三方/game/third/quit?play_id=551","format":"string"}},"required":["id","game_id","game_name","game_alias","url","quit_url"]}}}}}},"/pay/callback/autotopup/deposit_statement":{"post":{"summary":"AutoTopup 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/bcqr":{"post":{"summary":"BCQR 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/bigpay":{"post":{"summary":"bigpay支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/bpay":{"post":{"summary":"bpay 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/dingpei":{"post":{"summary":"dingpei 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/nn88pay":{"post":{"summary":"nn88pay 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/poppay":{"post":{"summary":"poppay 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/promptpay":{"post":{"summary":"promptpay 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/toppay":{"post":{"summary":"toppay 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/tupay":{"post":{"summary":"TUPAY 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/youpay":{"post":{"summary":"youpay 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/pay/callback/yypay":{"post":{"summary":"yypay 支付异步回调","description":"","tags":["支付"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/start/config":{"get":{"summary":"启动后配置参数","description":"启动后配置参数","tags":["公共分类"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"code":{"type":"string","required":false,"description":"第三方客服URL","format":"string"},"withdraw_need_mobile":{"type":"boolean","required":false,"description":"提现是否需要手机验证"},"pusherio_server":{"type":"string","required":false,"description":"pusherio socketio服务器地址","format":"string"},"WeChat_login":{"type":"boolean","required":false,"description":"微信快登开关 1开，0关"},"maintaining":{"type":"boolean","required":false,"description":"维护开关 1开，0关"},"site_pc_logo":{"type":"string","required":false,"description":"PC端logo","format":"string"},"site_h5_logo":{"type":"string","required":false,"description":"h5端logo","format":"string"},"first_WeChat_binding":{"type":"boolean","required":false,"description":"微信首次快登绑定手机 1开，0关"},"register_type":{"type":"integer","required":false,"description":"注册方式  1. 仅账号密码 2. 账号密码和账号密码手机  默认开3. 仅手机号密码4. 仅账号密码手机","format":"int32"},"no_login_trial_service":{"type":"boolean","required":false,"description":"未登录和试玩登录可联系客服  1开，0关"},"xima":{"type":"boolean","required":false,"description":"洗码开关 1开，0关"},"withdraw_need_idcard":{"type":"boolean","required":false,"description":"设置提现实名证 1开，0关"},"min_money":{"type":"number","required":false,"description":"最小充值金额","format":"float"},"max_money":{"type":"number","required":false,"description":"最高充值金额","format":"float"},"recharge_money_set":{"type":"boolean","required":false,"description":"快捷金额 1开，0关"},"recharge_money_value":{"type":"string","required":false,"description":"快捷充值设置 数组[5000,2000,8000,10000]","format":"string"},"recharge_money_value_list":{"type":"string","required":false,"description":"快捷充值设置 数组[5000,2000,8000,10000]","format":"string"},"stop_withdraw":{"type":"boolean","required":false,"description":"暂停提现开关   1开，0关"},"stop_deposit":{"type":"boolean","required":false,"description":"暂停充值   1开，0关"},"down_url":{"type":"string","required":false,"description":"APP下载地址","format":"string"},"app_name":{"type":"string","required":false,"description":"APP下载名称","format":"string"},"app_desc":{"type":"string","required":false,"description":"APP下载描述","format":"string"},"h5_url":{"type":"string","required":false,"description":"H5推广地址","format":"string"},"pc_url":{"type":"string","required":false,"description":"PC推广地址","format":"string"},"spread_url":{"type":"string","required":false,"description":"推广页下载APP地址","format":"string"},"certificate_url":{"type":"string","required":false,"description":"APP修复地址","format":"string"},"certificate_switch":{"type":"boolean","required":false,"description":"APP修复开关  1开，0关"},"app_spead_url":{"type":"string","required":false,"description":"APP推广地址","format":"string"},"recharge_autotopup":{"type":"boolean","required":false,"description":"AutoTopup支付页显示  1开，0关"},"recharge_qrcode":{"type":"boolean","required":false,"description":"QRCode支付页显示  1开，0关"},"recharge_offline":{"type":"boolean","required":false,"description":"线下入款支付页显示  1开，0关"}}}}}}},"/subscribe":{"post":{"summary":"订阅","description":"返回状态 订阅成功","tags":["公共分类"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"telphone_code":{"description":"区号","type":"string","format":"string"},"telphone":{"description":"用户手机号码","type":"string","format":"string"},"code":{"description":"手机验证码","type":"string","format":"string"}}}},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/upload":{"post":{"summary":"上传图片文件","description":"上传图片文件","tags":["公共分类"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"file","in":"formData","required":true,"description":"表单上传文件","type":"string"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"url":{"type":"string","required":true,"description":"上传返回图片地址","format":"string"}},"required":["url"]}}},"consumes":["multipart/form-data"]}},"/user/active/applys":{"get":{"summary":"获得优惠的资金明细表","description":"获得优惠的资金明细表   \r\n返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数']","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type_id","in":"query","required":false,"description":"类型ID","type":"integer","format":"int32"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认8条记录","type":"integer","format":"int32","default":"8"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID","format":"int32"},"type_id":{"type":"integer","required":true,"description":"模板ID","format":"int32"},"user_name":{"type":"string","required":true,"description":"用户名","format":"string"},"active_id":{"type":"integer","required":true,"description":"活动ID","format":"int32"},"active_name":{"type":"string","required":true,"description":"活动名称","format":"string"},"deposit_money":{"type":"number","required":false,"description":"存款(非存款活动没有存款这一项) 如：0","format":"float"},"coupon_money":{"type":"number","required":false,"description":"优惠金额(手动申请的活动没有优惠金额) 如：1000","format":"float"},"withdraw_require":{"type":"number","required":false,"description":"取款条件(手动申请的活动没有取款条件) 如：10","format":"float"},"apply_time":{"type":"string","required":false,"description":"申请时间 如：2019-01-09 10:51:51"},"updated":{"type":"string","required":false,"description":"更新时间 如：2019-01-09 10:51:51"},"content":{"type":"string","required":false,"description":"申请内容","format":"string"},"memo":{"type":"string","required":false,"description":"备注","format":"string"},"template":{"type":"string","required":false,"description":"模板名称","format":"string"},"status":{"type":"string","required":false,"description":"状态值(pass:通过, rejected:拒绝, pending:待处理, undetermined:未解决的)","format":"enum"},"state":{"type":"string","required":false,"description":"设置状态,有apply就显示,没有就不显示(apply:可申请, auto:自动参与,manual:手动的)","format":"enum"},"process_time":{"type":"string","required":false,"description":"处理时间 如：2019-01-09 10:51:51"}},"required":["id","type_id","user_name","active_id","active_name"]}}}}}},"/user/active/bkge":{"get":{"summary":"返佣活动","description":"返佣活动","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID","format":"int32"},"name":{"type":"string","required":true,"description":"活动名称","format":"string"},"game_ids":{"type":"string","required":true,"description":"返佣类目，游戏大类ID 如：4,15,16,17,22","format":"string"},"condition_opt":{"type":"string","required":true,"description":"返佣条件（lottery-有效投注，deposit-充值，winloss-盈亏）","format":"string"},"data_opt":{"type":"string","required":true,"description":"返佣数据规则（lottery-有效投注，deposit-充值，winloss-盈亏）","format":"string"},"game_names":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"游戏大类ID","format":"int32"},"name":{"type":"string","required":true,"description":"游戏名称","format":"string"}},"required":["id","name"]}},"rule":{"type":"array","items":{"type":"object","properties":{"active_bkge_id":{"type":"integer","required":true,"description":"返佣活动ID","format":"int32"},"rule_name":{"type":"string","required":true,"description":"代理级别","format":"string"},"min_lottery":{"type":"string","required":false,"description":"最小有效投注","format":"string"},"max_lottery":{"type":"string","required":false,"description":"最高有效投注","format":"string"},"min_deposit":{"type":"string","required":false,"description":"最小充值","format":"string"},"max_deposit":{"type":"string","required":false,"description":"最高充值","format":"string"},"min_winloss":{"type":"string","required":false,"description":"最小盈亏","format":"string"},"max_winloss":{"type":"string","required":false,"description":"最高盈亏","format":"string"},"bkge_scale":{"type":"string","required":false,"description":"返佣活动赔率","format":"string"}},"required":["active_bkge_id","rule_name"]}}},"required":["id","name","game_ids","condition_opt","data_opt"]}}}}}},"/user/active":{"get":{"summary":"获取手动领取活动列表","description":"","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type_id","in":"query","required":true,"description":"类型ID","type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"ID","format":"int32"},"status":{"type":"string","required":false,"description":"状态值(pass:通过, rejected:拒绝, pending:待处理, undetermined:未解决的)","format":"string"},"state":{"type":"string","required":false,"description":"设置状态,有apply就显示,没有就不显示(apply:可申请, auto:自动参与,manual:手动的)","format":"string"}},"required":["id"]}}}}},"post":{"summary":"手动领取活动","description":"","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":true,"description":"活动ID","type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/user/active/list":{"get":{"summary":"获取活动列表","description":"获取优惠活动信息内容列表","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"active_type_id","in":"query","required":true,"description":"优惠活动分类对应id(0:全部)","type":"integer","format":"int32"},{"name":"active_id","in":"query","required":false,"description":"活动列表内容对应id唯一","type":"integer","format":"int32"},{"name":"deposit","in":"query","required":false,"description":"1:充值活动","type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"id","format":"int32"},"title":{"type":"string","required":true,"description":"标题","format":"string"},"text":{"type":"string","required":true,"description":"文本","format":"string"},"link":{"type":"string","required":true,"description":"跳转链接","format":"string"},"open":{"type":"integer","required":true,"description":"打开方式(1:弹窗， 2:新窗口， 3:本页面跳转， 4:展开)","format":"int32"},"img":{"type":"string","required":true,"description":"图片地址","format":"string"},"start_time":{"type":"string","required":true,"description":"开始时间","format":"string"},"end_time":{"type":"string","required":true,"description":"结束时间","format":"string"},"details":{"type":"string","required":true,"description":"详情","format":"string"},"state":{"type":"string","required":true,"description":"状态,有apply就显示,没有就不显示(apply:可申请, auto:自动参与)","format":"enum"}},"required":["id","title","text","link","open","img","start_time","end_time","details","state"]}}}}}},"/user/active/lucky":{"get":{"summary":"获取幸运轮盘配置信息","description":"","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"winHistory":{"type":"array","items":{"type":"object","properties":{"user":{"type":"string","required":true,"description":"用户名","format":"string"},"money":{"type":"number","required":true,"description":"中奖金额 如：1000","format":"float"},"date":{"type":"string","required":true,"description":"中奖日期 如：2019-01-09","format":"string"}},"required":["user","money","date"]}},"luckyCount":{"type":"integer","required":true,"description":"抽奖次数 10","format":"int32"},"luckySetting":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"活动ID","format":"int32"},"name":{"type":"string","required":true,"description":"活动名称","format":"string"},"cover":{"type":"string","required":true,"description":"活动图片","format":"string"},"content":{"type":"string","required":true,"description":"规则说明","format":"string"},"end_time":{"type":"string","required":true,"description":"结束时间 如：2019-01-09 10:51:51","format":"string"},"state":{"type":"string","required":true,"description":"状态,有apply就显示,没有就不显示(apply:可申请, auto:自动参与)","format":"enum"}},"required":["id","name","cover","content","end_time","state"]},"rule":{"type":"array","items":{"type":"object","properties":{"award_id":{"type":"integer","required":true,"description":"规则ID","format":"int32"},"award_name":{"type":"string","required":true,"description":"第几等奖 八等奖","format":"string"},"award_type":{"type":"integer","required":true,"description":"规则类型 1,2,3,4","format":"int32"},"award_money":{"type":"number","required":true,"description":"中奖金额 如：1000","format":"float"},"img":{"type":"string","required":true,"description":"奖品图片","format":"string"}},"required":["award_id","award_name","award_type","award_money","img"]}}},"required":["luckyCount"]}}}},"post":{"summary":"幸运轮盘-点击抽奖","description":"","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"award_id":{"type":"integer","required":true,"description":"规则ID","format":"int32"},"award_name":{"type":"string","required":true,"description":"第几等奖 八等奖","format":"string"},"award_money":{"type":"number","required":true,"description":"中奖金额 如：1000","format":"float"},"withdraw_val":{"type":"integer","required":true,"description":"中奖概率值 5000","format":"int32"}},"required":["award_id","award_name","award_money","withdraw_val"]}}}}},"/user/active/lucky/history":{"get":{"summary":"获取幸运轮盘历史记录列表","description":"","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"coupon_money":{"type":"number","required":false,"description":"优惠金额(手动申请的活动没有优惠金额) 如：1000","format":"float"},"apply_time":{"type":"string","required":false,"description":"申请时间 如：2019-01-09 10:51:51","format":"string"}}}}}}}},"/user/active/slot":{"post":{"summary":"首次充值送300%","description":"","tags":["首次充值送300%"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"id","in":"query","required":true,"description":"活动ID","type":"integer","format":"int32"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/user/active/types":{"get":{"summary":"获取优惠活动类型列表","description":"获取优惠活动类型列表信息","tags":["优惠活动"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"类型ID","format":"int32"},"name":{"type":"string","required":true,"description":"类型名称","format":"string"},"description":{"type":"string","required":false,"description":"描述","format":"string"},"created":{"type":"string","required":false,"description":"创建时间"},"created_uname":{"type":"string","required":false,"description":"创建人","format":"string"},"updated":{"type":"string","required":false,"description":"更新时间"},"updated_uname":{"type":"string","required":false,"description":"更新人","format":"string"}},"required":["id","name"]}}}}}},"/user/agent/betting/filter":{"get":{"summary":"团队投注记录筛选","description":"团队投注记录筛选","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":true,"description":"游戏分类ID","format":"int32"},"pid":{"type":"integer","required":true,"description":"上级游戏分类ID","format":"int32"},"type":{"type":"string","required":true,"description":"游戏类型 如：KAIYUAN","format":"string"},"name":{"type":"string","required":true,"description":"游戏类型名称 如：开元棋牌","format":"string"}},"required":["id","pid","type","name"]}}}}}},"/user/agent/betting":{"get":{"summary":"团队投注记录列表","description":"由于投注游戏不同，返回结果详细字段不同，需要根据实际情况处理  \r\n返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数']","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type_name","in":"query","required":false,"description":"游戏类型 默认为第一个分类","type":"string","format":"string"},{"name":"category","in":"query","required":false,"description":"投注分类值，多个分类用|分隔，与key搭配使用","type":"string","format":"string"},{"name":"key","in":"query","required":false,"description":"投注分类键名，多个分类用|分隔，与category搭配使用","type":"string","format":"string"},{"name":"start_time","in":"query","required":false,"description":"投注开始日期 2021-08-12","type":"string","format":"date"},{"name":"end_time","in":"query","required":false,"description":"投注结束日期 2021-08-25","type":"string","format":"date"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认20条记录","type":"integer","format":"int32","default":"20"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"ID","format":"int32"},"order_number":{"type":"string","required":false,"description":"订单号","format":"string"},"game_name":{"type":"string","required":false,"description":"游戏名称","format":"string"},"user_name":{"type":"string","required":false,"description":"用户名","format":"string"},"sub_game_name":{"type":"string","required":false,"description":"子订单号","format":"string"},"play_name":{"type":"string","required":false,"description":"玩法名","format":"string"},"profit":{"type":"string","required":false,"description":"输赢(真实金额 不用除100)","format":"string"},"pay_money":{"type":"integer","required":false,"description":"投注金额 (真实金额 不用除100)","format":"int32"},"type_name":{"type":"string","required":false,"description":"类型名称","format":"string"},"create_time":{"type":"string","required":false,"description":"创建时间 2021-08-25 12:21:33"},"state":{"type":"string","required":false,"description":"状态 created:待开奖,winning:已中奖,close:未中奖","format":"enum"},"mode":{"type":"string","required":false,"description":"模式 第三方","format":"string"}}}}}}}},"/user/agent/bkge/detail":{"get":{"summary":"查询某一天我的佣金列表","description":"查询某一天我的佣金列表  \r\n 返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数']","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"day","in":"query","required":false,"description":"日期 2021-08-20","type":"string","format":"date"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认20条记录","type":"integer","format":"int32","default":"20"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","required":false,"description":"时间 2019-01-15 00:00:00"},"user_id":{"type":"integer","required":true,"description":"用户ID","format":"int32"},"user_name":{"type":"string","required":true,"description":"用户名称","format":"string"},"bet_amount":{"type":"integer","required":true,"description":"投注额 214","format":"int32"},"cur_bkge":{"type":"integer","required":true,"description":"实际返佣率-- 如10%返回10","format":"int32"},"bkge":{"type":"integer","required":true,"description":"返佣金额-- 单位分 345","format":"int32"},"user_bake":{"type":"integer","required":true,"description":"返佣次数 12","format":"int32"},"status":{"type":"string","required":true,"description":"是否返佣 1 已返  0 未返","format":"string"}},"required":["user_id","user_name","bet_amount","cur_bkge","bkge","user_bake","status"]}}}}}},"/user/agent/bkge":{"get":{"summary":"查询我的佣金","description":"我的佣金   \r\n返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数', 'cur_total' => '当前返佣总金额', 'all_total_bkge' => '累计返佣总金额', 'inferisors_all' => '所有下级代理总数']","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"start_time","in":"query","required":false,"description":"开始日期 2021-08-12","type":"string","format":"date"},{"name":"end_time","in":"query","required":false,"description":"结束日期 2021-08-20","type":"string","format":"date"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认10条记录","type":"integer","format":"int32","default":"10"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","required":true,"description":"时间 2019-01-15 00:00:00"},"bet_amount":{"type":"integer","required":true,"description":"投注额 214","format":"int32"},"bkge":{"type":"integer","required":true,"description":"返佣金额-- 单位分 345","format":"int32"},"user_bake":{"type":"integer","required":true,"description":"返佣次数 12","format":"int32"},"status":{"type":"string","required":true,"description":"是否返佣 1 已返  0 未返","format":"string"}},"required":["day","bet_amount","bkge","user_bake","status"]}}}}}},"/user/agent/bkgeRatio":{"get":{"summary":"返佣比例","description":"","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string","required":true,"description":"时间 2019-01-15 00:00:00"},"bet_amount":{"type":"integer","required":true,"description":"投注额 214","format":"int32"},"bkge":{"type":"integer","required":true,"description":"返佣金额-- 单位分 345","format":"int32"},"user_bake":{"type":"integer","required":true,"description":"返佣次数 12","format":"int32"},"status":{"type":"string","required":true,"description":"是否返佣 1 已返  0 未返","format":"string"}},"required":["day","bet_amount","bkge","user_bake","status"]}}}}}},"/user/agent/code":{"post":{"summary":"代理新增10个推广码","description":"","tags":["user"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/user/agent/config":{"get":{"summary":"用户中心全局设置","description":"","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"agent_switch":{"type":"boolean","required":true,"description":"用户代理栏目开关"},"lucky_switch":{"type":"boolean","required":true,"description":"幸运轮盘开关"}},"required":["agent_switch","lucky_switch"]}}}}},"/user/agent/deallog":{"get":{"summary":"团队资金流水记录","description":" \r\n 返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数']","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"type","in":"query","required":false,"description":"交易类别：1收入，2支出，3额度转换","type":"string","format":"enum","enum":["1","2","3"],"default":"1"},{"name":"game_type","in":"query","required":false,"description":"交易类型:101线上入款，102公司入款，103体育派彩，104彩票派彩，105优惠活动，106手动存款，107返水优惠，108代理退佣，109销售返点，110彩票撤单，111存入代理，112手动增加余额，113手动发放返水，114手动发放优惠，115提款解冻，116追号解冻，117体育撤单, 201会员提款，202彩票下注，203体育下注，204手动提款，205扣除优惠，206代理提款，207手动减少余额，208提款冻结，209追号冻结，210提现扣款，301子转主钱包，302主转子钱包，303手动子转主钱包，304手动主转子钱包，501视讯下注，502视讯派彩，503视讯撤单, 601撤销已经发放的代理退佣","type":"string","format":"enum","default":"101"},{"name":"user_name","in":"query","required":false,"description":"用户名","type":"string","format":"string"},{"name":"start_time","in":"query","required":false,"description":"开始日期 2021-08-12","type":"string","format":"date"},{"name":"end_time","in":"query","required":false,"description":"结束日期 2021-08-20","type":"string","format":"date"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认20条记录","type":"integer","format":"int32","default":"20"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"balance":{"type":"integer","required":true,"description":"主钱包余额","format":"int32"},"created":{"type":"string","required":true,"description":"日志时间","format":"string"},"deal_category":{"type":"string","required":true,"description":"交易类别：1收入，2支出，3额度转换","format":"enum"},"deal_category_name":{"type":"string","required":false,"description":"交易类别名称","format":"string"},"deal_money":{"type":"integer","required":true,"description":"交易金额","format":"int32"},"deal_number":{"type":"string","required":true,"description":"流水号","format":"string"},"deal_type":{"type":"string","required":true,"description":"交易类型:101线上入款，102公司入款，103体育派彩，104彩票派彩，105优惠活动，106手动存款，107返水优惠，108代理退佣，109销售返点，110彩票撤单，111存入代理，112手动增加余额，113手动发放返水，114手动发放优惠，115提款解冻，116追号解冻，117体育撤单, 201会员提款，202彩票下注，203体育下注，204手动提款，205扣除优惠，206代理提款，207手动减少余额，208提款冻结，209追号冻结，210提现扣款，301子转主钱包，302主转子钱包，303手动子转主钱包，304手动主转子钱包，501视讯下注，502视讯派彩，503视讯撤单, 601撤销已经发放的代理退佣","format":"enum"},"deal_type_name":{"type":"string","required":false,"description":"交易类型名称","format":"string"},"id":{"type":"integer","required":true,"description":"ID","format":"int32"},"memo":{"type":"string","required":false,"description":"备注","format":"string"},"username":{"type":"string","required":true,"description":"用户名","format":"string"}},"required":["balance","created","deal_category","deal_money","deal_number","deal_type","id","username"]}}}}}},"/user/agent":{"get":{"summary":"个人中心-我的团队列表","description":"个人中心-我的团队列表     \r\n返回attributes[number =>'第几页', 'size' => '记录条数'， total=>'总记录数', 'team_cnt' => '代理下级代理和用户总数', 'back_money' => '代理下级返佣总金额', 'win_loss' => '代理下级团队盈利总金额', 'deposit_withdrawal' => '代理下级团队提现总金额']","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"search_uid","in":"query","required":false,"description":"用户名","type":"string","format":"string"},{"name":"user_name","in":"query","required":false,"description":"用户名","type":"string","format":"string"},{"name":"start_time","in":"query","required":false,"description":"开始日期 2021-08-12","type":"string","format":"date"},{"name":"end_time","in":"query","required":false,"description":"结束日期 2021-08-20","type":"string","format":"date"},{"name":"page","in":"query","required":false,"description":"第几页 默认为第1页","type":"integer","format":"int32","default":"1"},{"name":"page_size","in":"query","required":false,"description":"分页显示记录数 默认10条记录","type":"integer","format":"int32","default":"10"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","required":false,"description":"用户ID","format":"int32"},"user_id":{"type":"integer","required":false,"description":"用户ID","format":"int32"},"name":{"type":"string","required":false,"description":"名称","format":"string"},"balance":{"type":"integer","required":false,"description":"可用余额 单位:分","format":"int32"},"real_name":{"type":"string","required":false,"description":"真实姓名","format":"string"},"created":{"type":"string","required":false,"description":"注册时间 eg:2017-08-31 02:56:26"},"register_time":{"type":"string","required":false,"description":"注册时间 eg:2017-08-31 02:56:26"},"agent_id":{"type":"integer","required":false,"description":"代理ID","format":"int32"},"team_cnt":{"type":"integer","required":false,"description":"代理下级代理和用户数","format":"int32"},"deposit_money":{"type":"integer","required":false,"description":"代理下级团队充值总额","format":"int32"},"agent_inc_cnt":{"type":"integer","required":false,"description":"代理下级团队新增代理和用户数","format":"int32"},"pay_money":{"type":"integer","required":false,"description":"代理下级团队投注总金额","format":"int32"},"prize":{"type":"integer","required":false,"description":"代理下级团队派奖总金额","format":"int32"},"back_money":{"type":"integer","required":false,"description":"代理下级团队返佣总金额","format":"int32"},"withdrawal_money":{"type":"integer","required":false,"description":"代理下级团队提现总金额","format":"int32"},"win_loss":{"type":"integer","required":false,"description":"代理下级团队盈利总金额","format":"int32"}}}}}}},"post":{"summary":"注册新会员成为下级代理","description":"注册新会员成为下级代理","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"user_name":{"description":"用户名","type":"string","format":"string"},"password":{"description":"密码","type":"string","format":"string"},"rake_back":{"description":"代理退佣率 JSON格式","type":"string","format":"string"}}}},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object"}}}}},"/user/agent/info":{"get":{"summary":"个人中心-我的团队-详情","description":"当team=1时查团队详情，当team为0或者不传是查个人详情","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"team","in":"query","required":false,"description":"是否为团队 1 团队详情，0 个人详情","type":"string","format":"enum","enum":["1","0"],"default":"1"},{"name":"start_time","in":"query","required":false,"description":"开始日期 2021-08-12","type":"string","format":"date"},{"name":"end_time","in":"query","required":false,"description":"结束日期 2021-08-20","type":"string","format":"date"},{"name":"Authorization","in":"header","required":true,"type":"string","description":"登录权限TOKEN","default":"{{token}}"}],"responses":{"200":{"description":"操作成功","schema":{"type":"object","properties":{"user_name":{"type":"string","required":true,"description":"用户名","format":"string"},"sum_inferisors":{"type":"integer","required":true,"description":"团队人数","format":"int32"},"sum_deposit":{"type":"integer","required":true,"description":"充值总额 -- 单位分","format":"int32"},"sum_withdraw":{"type":"integer","required":true,"description":"提现总额 -- 单位分","format":"int32"},"sum_pay":{"type":"integer","required":true,"description":"累计投注 -- 单位分","format":"int32"},"sum_bkge":{"type":"integer","required":true,"description":"累计返佣 -- 单位分","format":"int32"},"sum_prize":{"type":"integer","required":true,"description":"累计中奖 -- 单位分","format":"int32"},"win_loss":{"type":"integer","required":true,"description":"投注盈亏 -- 单位分","format":"int32"},"active_amount":{"type":"integer","required":true,"description":"活动彩金 -- 单位分","format":"int32"},"sum_return":{"type":"integer","required":true,"description":"回水金额 -- 单位分","format":"int32"},"game_bkge_list":{"type":"array","items":{"type":"object","properties":{"type_name":{"type":"string","required":true,"description":"游戏名称","format":"string"},"type":{"type":"string","required":true,"description":"游戏模式简称","format":"string"},"bkge":{"type":"integer","required":true,"description":"投注金额 -- 单位分","format":"int32"},"rake_back":{"type":"integer","required":true,"description":"返佣比例 如10%返回10","format":"int32"},"total_bet":{"type":"integer","required":true,"description":"投注金额 -- 单位分","format":"int32"}},"required":["type_name","type","bkge","rake_back","total_bet"]}}},"required":["user_name","sum_inferisors","sum_deposit","sum_withdraw","sum_pay","sum_bkge","sum_prize","win_loss","active_amount","sum_return"]}}}},"post":{"summary":"修改下级代理返佣比例","description":"修改下级代理返佣比例","tags":["代理返佣"],"produces":["application/json"],"parameters":[{"name":"lang","in":"header","required":true,"type":"string","description":"请求访问语言 默认为th泰语","default":"th"},{"name":"pl","in":"header","required":true,"type":"string","description":"请求平台 pc,h5,android,ios 默认为pc","default":"pc"},{"name":"body","in":"body","required":"true","schema":{"type":"object","properties":{"id":{"description":"下级会员id","type":"integer","format":"int32"},"bkge_game":{"description":"游艺电子退佣比例","type":"integer","format":"int32"},"bkge_live":{"description":"视频退佣比例","type":"integer","format":"int32"},"bkge_sport":{"description":"体育退佣比例","type":"integer","format":"int32"},"bkge_lottery":{"de
[...]
